<template>
  <div class="login">
    <div class="welcome">
      <h1 class="flex-center">Tere tulemast PlanMeet-i!</h1>
      <h4 class="flex-center">Alustamiseks logi sisse</h4>
    </div>
    <validation-observer v-slot="{ invalid }">
        <b-form>
            <validation-provider v-slot="{ errors, valid }" name="Kasutajanimi" rules="required">
                <b-form-group label="Kasutajanimi:">
                    <b-form-input
                        :state="errors[0] ? false : (valid ? true : null)"
                        v-model="loginInfo.username"
                        placeholder="Sisesta kasutajanimi"
                        required
                        type="text"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <validation-provider v-slot="{ errors, valid }" name="Parool" rules="required">
                <b-form-group label="Parool:">
                    <b-form-input
                        :state="errors[0] ? false : (valid ? true : null)"
                        v-model="loginInfo.password"
                        placeholder="Sisesta parool"
                        required
                        type="password"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <div class="flex-center form-group login-error" v-if="!loginWasOk">
                <div>Kasutajanimi ja/või parool on valed, palun proovi uuesti!</div>
            </div>
            <div class="form-group">
                <button :disabled="invalid" @click="loginOnClick($event)" class="btn btn-primary">Logi sisse</button>
            </div>
        </b-form>
    </validation-observer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { ILoginDTO } from "@/types/ILoginDTO";
import store from "../../store";
import router from "../../router";

@Component
export default class AccountLogin extends Vue {
    private loginInfo: ILoginDTO = {
        username: "",
        password: ""
    };

    private loginWasOk = true;

    loginOnClick(): void {
        store.dispatch("authenticateUser", this.loginInfo).then(() => {
            if (sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "") {
                this.loginWasOk = true;
                router.push("/meetings");
            } else {
                this.loginWasOk = false;
            }
        });
    }
}
</script>
