<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Lisa uus kasutaja</h1>
        </div>
        <validation-observer v-slot="{ invalid }">
            <b-form>
                <validation-provider v-slot="{ errors, valid }" name="Kasutajanimi" rules="required|max:20">
                    <b-form-group label="Kasutajanimi:">
                        <b-form-input
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="user.username"
                            placeholder="Sisesta kasutajanimi"
                            required
                            type="text"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Email" rules="required|max:50|email">
                    <b-form-group label="Email:">
                        <b-form-input
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="user.email"
                            placeholder="Sisesta email"
                            required
                            type="email"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Eesnimi" rules="required|max:50">
                    <b-form-group label="Eesnimi:">
                        <b-form-input
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="user.firstName"
                            placeholder="Sisesta eesnimi"
                            required
                            type="text"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Perekonnanimi" rules="required|max:50">
                    <b-form-group label="Perekonnanimi:">
                        <b-form-input
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="user.lastName"
                            placeholder="Sisesta perekonnanimi"
                            required
                            type="text"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Parool" rules="required|max:120">
                    <b-form-group label="Parool:">
                        <b-form-input
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="user.password"
                            placeholder="Sisesta parool"
                            required
                            type="password"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Sünnipäev" rules="required">
                    <b-form-group label="Sünnipäev:">
                        <b-form-datepicker
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="user.birthday"
                            required
                            placeholder="Vali kuupäev"
                            :start-weekday="1"
                        ></b-form-datepicker>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider name="Rollid">
                    <b-form-group label="Rollid:">
                        <b-form-tags
                            placeholder=""
                            input-id="Roles"
                            v-model="user.roles">
                            <template v-slot="{ tags, disabled, removeTag }">
                                <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                    <b-form-tag
                                        @remove="removeTag(tag)"
                                        :title="tag"
                                        :disabled="disabled"
                                        variant="info"
                                    >{{ tag }}</b-form-tag>
                                    </li>
                                </ul>
                                <b-dropdown id="Roles-adder" text="Vali roll:">
                                    <b-dropdown-item v-for="role in roles" :key="role.id"
                                        :value="role" @click="addRole(role)">
                                        {{ role.name }}
                                    </b-dropdown-item>
                                </b-dropdown>
                            </template>
                        </b-form-tags>
                    </b-form-group>
                </validation-provider>
                <validation-provider name="Organisatsioonid">
                    <b-form-group label="Organisatsioonid:">
                        <b-form-tags
                            placeholder=""
                            input-id="Organizations" v-model="chosenOrganizations">
                            <template v-slot="{ tags, disabled, removeTag }">
                                <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                    <b-form-tag
                                        @remove="removeTag(tag)"
                                        :title="tag"
                                        :disabled="disabled"
                                        variant="info"
                                    >{{ tag }}</b-form-tag>
                                    </li>
                                </ul>
                                <b-dropdown id="Organziations-adder" text="Vali organisatsioon:">
                                    <b-dropdown-item v-for="organization in organizations" :key="organization.id"
                                        :value="organization" @click="addOrganization(organization)">
                                        {{ organization.name }}
                                    </b-dropdown-item>
                                </b-dropdown>
                            </template>
                        </b-form-tags>
                    </b-form-group>
                </validation-provider>
                <b-form-group>
                    <button :disabled="invalid" @click="createOnClick()" class="btn btn-primary">
                        Salvesta
                    </button>
                </b-form-group>
            </b-form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
import { IOrganization } from "@/domain/IOrganization";
import { IRole } from "@/domain/IRole";
import router from "@/router";
import { ISignupDTO } from "@/types/ISignupDTO";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class UserCreate extends Vue {
    private user: ISignupDTO = {
        username: "",
        email: "",
        firstName: "",
        lastName: "",
        password: "",
        birthday: "",
        roles: []
    };

    private organizations: IOrganization[] = [];
    private roles: IRole[] = [];

    private chosenOrganizations: string[] = [];

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    createOnClick(): void {
        store.dispatch("signup", this.user).then(() => {
            store.dispatch("getLastUser").then(() => {
                this.chosenOrganizations.forEach(org => {
                    store.dispatch("getOrganizationByName", org).then(() => {
                        store.dispatch("createUserOrganization", {
                            organization: store.state.organization,
                            user: store.state.user
                        });
                    });
                });
            })
        }).then(() => {
            router.push({
                name: "Users"
            })
        });
    }

    addOrganization(organization: IOrganization) : void {
        this.organizations = this.organizations.filter(orgs => orgs !== organization);
        this.chosenOrganizations.push(organization.name);
    }

    addRole(role: IRole) : void {
        this.roles = this.roles.filter(roles => roles !== role);
        this.user.roles.push(role.name);
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getOrganizations").then(() => {
            this.organizations = store.state.organizations;
        });
        store.dispatch("getRoles").then(() => {
            this.roles = store.state.roles;
        });
    }
}
</script>
