<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Muuda kasutajat</h1>
        </div>
        <validation-observer v-slot="{ invalid }">
            <b-form>
                <div class="form-group">
                    <label for="Username">Kasutajanimi:</label>
                    <input
                        v-model="user.username"
                        class="form-control"
                        id="Username"
                    />
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input
                        v-model="user.email"
                        class="form-control"
                        id="v"
                    />
                </div>
                <div class="form-group">
                    <label for="Firstname">Eesnimi:</label>
                    <input
                        v-model="user.firstName"
                        class="form-control"
                        id="Firstname"
                    />
                </div>
                <div class="form-group">
                    <label for="LastName">Perekonnanimi:</label>
                    <input
                        v-model="user.lastName"
                        class="form-control"
                        id="LastName"
                    />
                </div>
                <div class="form-group">
                    <label for="Date">Sünnipäev:</label>
                    <b-form-datepicker
                        v-model="user.birthday"
                        class="form-control"
                        id="Date"
                        placeholder="Vali kuupäev"
                        :start-weekday="1"
                    ></b-form-datepicker>
                </div>
                <div class="form-group">
                    <label for="Roles">Rollid:</label>
                    <b-form-tags
                        placeholder=""
                        input-id="Roles" v-model="chosenRoles">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <b-dropdown id="Roles-adder" text="Vali roll:">
                                <b-dropdown-item v-for="role in roles" :key="role.id"
                                    :value="role" @click="addRole(role)">
                                    {{ role.name }}
                                </b-dropdown-item>
                            </b-dropdown>
                        </template>
                    </b-form-tags>
                </div>
                <div class="form-group">
                    <label for="Organizations">Organisatsioonid:</label>
                    <b-form-tags
                        placeholder=""
                        input-id="Organizations" v-model="chosenOrganizations">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <b-dropdown id="Organziations-adder" text="Vali organisatsioon:">
                                <b-dropdown-item v-for="organization in organizations" :key="organization.id"
                                    :value="organization" @click="addOrganization(organization)">
                                    {{ organization.name }}
                                </b-dropdown-item>
                            </b-dropdown>
                        </template>
                    </b-form-tags>
                </div>
                <div class="form-group">
                    <button :disabled="invalid" @click="saveOnClick()" class="btn btn-primary">
                        Salvesta
                    </button>
                </div>
            </b-form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
import { IOrganization } from "@/domain/IOrganization";
import { IRole } from "@/domain/IRole";
import { IUserOrganization } from "@/domain/IUserOrganization";
import router from "@/router";
import { IUpdateDTO } from "@/types/IUpdateDTO";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class UserEdit extends Vue {
    @Prop()
    private id!: string;

    private chosenOrganizations: string[] = [];
    private chosenRoles: string[] = [];

    private initialOrganizations: IUserOrganization[] = [];

    private organizations: IOrganization[] = [];
    private roles: IRole[] = [];

    get user(): IUpdateDTO | null {
        if (store.state.user) {
            return {
                id: store.state.user.id,
                username: store.state.user.username,
                email: store.state.user?.email,
                firstName: store.state.user?.firstName,
                lastName: store.state.user?.lastName,
                password: store.state.user?.password,
                birthday: store.state.user?.birthday,
                roles: this.chosenRoles
            };
        }
        return null;
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    saveOnClick(): void {
        store.dispatch("updateUser", this.user).then(() => {
            store.dispatch("getUser", this.id).then(() => {
                this.chosenOrganizations.forEach(org => {
                    store.dispatch("getOrganizationByName", org).then(() => {
                        store.dispatch("createUserOrganization", {
                            organization: store.state.organization,
                            user: store.state.user
                        });
                    });
                });
                this.initialOrganizations.forEach(org => {
                    if (org.organization && !this.chosenOrganizations.includes(org.organization.name)) {
                        store.dispatch("deleteUserOrganization", org.id);
                    }
                });
            });
        }).then(() => {
            router.back();
        });
    }

    addOrganization(organization: IOrganization) : void {
        this.organizations = this.organizations.filter(orgs => orgs !== organization);
        this.chosenOrganizations.push(organization.name);
    }

    addRole(role: IRole) : void {
        this.roles = this.roles.filter(roles => roles !== role);
        this.chosenRoles.push(role.name);
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getOrganizations").then(() => {
            this.organizations = store.state.organizations;
        }).then(() => {
            store.dispatch("getRoles").then(() => {
                this.roles = store.state.roles;
            }).then(() => {
                store.dispatch("getUser", this.id).then(() => {
                    if (store.state.user) {
                        store.state.user.roles.forEach(role => {
                            this.roles = this.roles.filter(roles => roles.id !== role.id);
                            this.chosenRoles.push(role.name);
                        });
                        store.dispatch("getUserOrganizationsByUser", store.state.user.id).then(() => {
                            store.state.userOrganizations.forEach(userOrganization => {
                                if (userOrganization.organization) {
                                    this.organizations = this.organizations.filter(orgs => orgs.id !== userOrganization.organization?.id);
                                    this.initialOrganizations.push(userOrganization);
                                    this.chosenOrganizations.push(userOrganization.organization.name);
                                }
                            });
                        });
                    }
                });
            });
        });
    }
}
</script>
