<template>
    <div>
        <div class="row flex-center">
            <h1>Kasutajad</h1>
            <button
                class="btn btn-primary btn-add-new"
                @click="navigateToCreateWhenClicked()"
            >+ Lisa uus kasutaja</button>
        </div>
        <tbody class="flex-center">
            <div class="table">
                <div class="table-row">
                    <div class="table-head-cell">Kasutajanimi</div>
                    <div class="table-head-cell">Email</div>
                    <div class="table-head-cell">Eesnimi</div>
                    <div class="table-head-cell">Perekonnanimi</div>
                    <div class="table-head-cell">Sünnipäev</div>
                    <div class="table-head-cell">Rollid</div>
                    <div class="table-head-cell">Organisatsioonid</div>
                    <div class="table-head-cell"></div>
                </div>
                <div class="table-row table-hover" v-for="user in users" :key="user.id">
                    <div class="table-cell">{{user.username}}</div>
                    <div class="table-cell">{{user.email}}</div>
                    <div class="table-cell">{{user.firstName}}</div>
                    <div class="table-cell">{{user.lastName}}</div>
                    <div class="table-cell">{{user.birthday}}</div>
                    <div class="table-cell">
                        <div v-for="role in user.roles" :key="role.id">
                            {{role.name}}
                        </div>
                    </div>
                    <div class="table-cell">
                        <div v-if="user.organizations">
                            {{user.organizations.length}}
                        </div>
                        <div v-for="userOrganization in user.organizations" :key="userOrganization.id">
                            {{userOrganization.organization.name}}
                        </div>
                    </div>
                    <div class="table-cell flex-center">
                        <div class="pm-button" @click="navigateToDetailsWhenClicked(user.id)"
                        ><font-awesome-icon icon="pencil-alt" /></div>
                        <div :id="user.id" class="pm-button" v-b-modal="'modal-delete'">
                            <font-awesome-icon icon="trash-alt" /></div>
                    </div>
                    <b-modal
                        :id="'modal-delete'"
                        title="Kustuta"
                        ok-title="Jah, kustuta"
                        cancel-title="Ei"
                        @ok="deleteWhenClicked(user.id)">
                        <div>
                            Kas oled kindel, et soovid kasutaja {{user.username}} kustutada?
                        </div>
                    </b-modal>
                </div>
            </div>
        </tbody>
    </div>
</template>

<script lang="ts">
import { IUser } from "@/domain/IUser";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class UsersIndex extends Vue {
    private users: IUser[] = [];

    navigateToDetailsWhenClicked(id: string): void {
        router.push({
            name: "UserEdit",
            params: {
                id: id
            }
        });
    }

    navigateToCreateWhenClicked(): void {
        router.push({
            name: "UserCreate"
        });
    }

    deleteWhenClicked(id: string): void {
        store.dispatch('deleteUser', id);
        history.go();
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getUsers").then(() => {
            store.state.users.forEach(user => {
                store.dispatch("getUserOrganizationsByUser", user.id).then(() => {
                    user.organizations = [];
                    store.state.userOrganizations.forEach(userOrganization => {
                        user.organizations.push(userOrganization);
                    });
                    this.users.push(user);
                });
            });
        });
    }
}
</script>
