<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Lisa uus organisatsioon</h1>
        </div>
        <validation-observer v-slot="{ invalid }">
            <b-form>
                <validation-provider v-slot="{ errors, valid }" name="Nimi" rules="required|max:50">
                    <b-form-group label="Organisatsiooni nimi:">
                        <b-form-input
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="organization.name"
                            placeholder="Sisesta nimi"
                            required
                            type="text"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <b-form-group>
                    <button :disabled="invalid" @click="createOnClick()" class="btn btn-primary">
                        Salvesta
                    </button>
                </b-form-group>
            </b-form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
import { IOrganizationCreate } from "@/domain/IOrganization";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class OrganizationCreate extends Vue {
    private organization: IOrganizationCreate = {
        name: ""
    };

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    createOnClick(): void {
        store.dispatch("createOrganization", this.organization).then(() => {
            router.push({
                name: "Organizations"
            })
        });
    }

    goBackOnClick(): void {
        router.back();
    }
}
</script>
