<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Muuda organisatsiooni {{organization.name}}</h1>
        </div>
        <validation-observer v-slot="{ invalid }">
            <b-form>
                <validation-provider v-slot="{ errors, valid }" name="Nimi" rules="required|max:50">
                <b-form-group label="Organisatsiooni nimi:">
                    <b-form-input
                        :state="errors[0] ? false : (valid ? true : null)"
                        v-model="organization.name"
                        placeholder="Sisesta nimi"
                        required
                        type="text"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <b-form-group>
                <button :disabled="invalid" @click="saveOnClick()" class="btn btn-primary">
                    Salvesta
                </button>
            </b-form-group>
            </b-form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
import { IOrganization } from "@/domain/IOrganization";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class OrganizationEdit extends Vue {
    @Prop()
    private id!: string;

    get organization(): IOrganization | null {
        return store.state.organization;
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    saveOnClick(): void {
        store.dispatch("updateOrganization", this.organization).then(() => {
            router.back();
        });
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getOrganization", this.id);
    }
}
</script>
<style scoped>
.row {
    justify-content: unset;
}
.column {
    padding: 10px;
}
</style>
