<template>
    <div>
        <div class="row flex-center">
            <h1>Organisatsioonid</h1>
            <button
                class="btn btn-primary btn-add-new"
                @click="navigateToCreateWhenClicked()"
            >+ Lisa uus organisatsioon</button>
        </div>
        <tbody class="flex-center">
            <div class="table">
                <div class="table-row">
                    <div class="table-head-cell">Organisatsioon</div>
                    <div class="table-head-cell"></div>
                </div>
                <div class="table-row" v-for="organization in organizations" :key="organization.id">
                    <div class="table-cell">{{organization.name}}</div>
                    <div class="table-cell flex-center">
                        <div class="pm-button" @click="navigateToDetailsWhenClicked(organization)"
                        ><font-awesome-icon icon="pencil-alt" /></div>
                        <div :id="organization.id" class="pm-button" v-b-modal="'modal-delete'"><font-awesome-icon icon="trash-alt" /></div>
                    </div>
                    <b-modal
                        :id="'modal-delete'"
                        title="Kustuta"
                        ok-title="Jah, kustuta"
                        cancel-title="Ei"
                        @ok="deleteWhenClicked(organization.id)">
                        <div>
                            Kas oled kindel, et soovid organisatsiooni {{organization.name}} kustutada?
                        </div>
                    </b-modal>
                </div>
            </div>
        </tbody>
    </div>
</template>

<script lang="ts">
import { IOrganization } from "@/domain/IOrganization";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class OrganizationsIndex extends Vue {
    get organizations(): IOrganization[] {
        return store.state.organizations;
    }

    navigateToDetailsWhenClicked(organization: IOrganization): void {
        router.push({
            name: "OrganizationEdit",
            params: {
                id: organization.id.toString()
            }
        });
    }

    navigateToCreateWhenClicked(): void {
        router.push({
            name: "OrganizationCreate"
        });
    }

    deleteWhenClicked(id: string): void {
        store.dispatch('deleteOrganization', id);
        history.go();
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getOrganizations");
    }
}
</script>
