<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Lisa uus tähtpäev</h1>
        </div>
        <validation-observer v-slot="{ invalid }">
            <b-form>
                <validation-provider v-slot="{ errors, valid }" name="Tähtpäev" rules="required|max:50">
                    <b-form-group label="Tähtpäeva nimi:">
                        <b-form-input
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="holiday.name"
                            placeholder="Sisesta nimi"
                            required
                            type="text"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Vaba">
                    <b-form-group label="Vaba päev:">
                        <b-form-checkbox
                        v-model="holiday.vocation"
                        id="Vocation"
                        switch></b-form-checkbox>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Kuupäev" rules="required">
                    <b-form-group label="Kuupäev:">
                        <b-form-datepicker
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="holiday.date"
                            required
                            placeholder="Vali kuupäev"
                            :start-weekday="1"
                        ></b-form-datepicker>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <b-form-group label="Organisatsioonid:">
                    <b-form-tags
                        placeholder=""
                        input-id="Organizations" v-model="chosenOrganizations">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <b-dropdown id="Organziations-adder" text="Vali organisatsioon:">
                                <b-dropdown-item v-for="organization in organizations" :key="organization.id"
                                    :value="organization" @click="addOrganization(organization)">
                                    {{ organization.name }}
                                </b-dropdown-item>
                            </b-dropdown>
                        </template>
                    </b-form-tags>
                </b-form-group>
                <div class="form-group">
                    <button :disabled="invalid" @click="createOnClick()" class="btn btn-primary">
                        Salvesta
                    </button>
                </div>
            </b-form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
import { IHolidayCreate } from "@/domain/IHoliday";
import { IOrganization } from "@/domain/IOrganization";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class HolidayCreate extends Vue {
    private holiday: IHolidayCreate = {
        name: "",
        vocation: false,
        date: ""
    };

    private chosenOrganizations: string[] = [];

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    createOnClick(): void {
        store.dispatch("createHoliday", this.holiday).then(() => {
            store.dispatch("getLastHoliday").then(() => {
                this.chosenOrganizations.forEach(org => {
                    store.dispatch("getOrganizationByName", org).then(() => {
                        store.dispatch("createOrganizationHoliday", {
                            organization: store.state.organization,
                            holiday: store.state.holiday
                        });
                    });
                });
            })
        }).then(() => {
            router.push({
                name: "Holidays"
            })
        });
    }

    get organizations(): IOrganization[] {
        return store.state.organizations.filter(orgs => this.chosenOrganizations.indexOf(orgs.name) === -1);
    }

    addOrganization(organization: IOrganization) : void {
        this.chosenOrganizations.push(organization.name);
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getOrganizations");
    }
}
</script>
