<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Muuda tähtpäeva</h1>
        </div>
        <validation-observer v-slot="{ invalid }">
            <b-form>
                <div class="form-group">
                    <label for="Name">Tähtpäeva nimi:</label>
                    <input
                        v-model="holiday.name"
                        class="form-control"
                        id="Name"
                    />
                </div>
                <div class="form-group">
                    <label for="Vocation">Vaba päev:</label>
                    <b-form-checkbox
                        v-model="holiday.vocation"
                        id="Vocation"
                    switch></b-form-checkbox>
                </div>
                <div class="form-group">
                    <label for="Date">Kuupäev:</label>
                    <b-form-datepicker
                        v-model="holiday.date"
                        class="form-control"
                        id="Date"
                        placeholder="Vali kuupäev"
                        :start-weekday="1"
                    ></b-form-datepicker>
                </div>
                <div class="form-group">
                    <label for="Organizations">Organisatsioonid:</label>
                    <b-form-tags
                        placeholder=""
                        input-id="Organizations" v-model="chosenOrganizations">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <b-dropdown id="Organziations-adder" text="Vali organisatsioon:">
                                <b-dropdown-item v-for="organization in organizations" :key="organization.id"
                                    :value="organization" @click="addOrganization(organization)">
                                    {{ organization.name }}
                                </b-dropdown-item>
                            </b-dropdown>
                        </template>
                    </b-form-tags>
                </div>
                <div class="form-group">
                    <button :disabled="invalid" @click="saveOnClick()" class="btn btn-primary">
                        Salvesta
                    </button>
                </div>
            </b-form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
import { IHoliday } from "@/domain/IHoliday";
import { IOrganization } from "@/domain/IOrganization";
import { IOrganizationHoliday } from "@/domain/IOrganizationHoliday";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class HolidayEdit extends Vue {
    @Prop()
    private id!: string;

    private chosenOrganizations: string[] = [];

    private initialOrganizationHolidays: IOrganizationHoliday[] = [];

    get holiday(): IHoliday | null {
        return store.state.holiday;
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    saveOnClick(): void {
        store.dispatch("updateHoliday", this.holiday).then(() => {
            store.dispatch("getHoliday", this.id).then(() => {
                this.chosenOrganizations.forEach(org => {
                    store.dispatch("getOrganizationByName", org).then(() => {
                        store.dispatch("createOrganizationHoliday", {
                            organization: store.state.organization,
                            holiday: store.state.holiday
                        });
                    });
                });
                this.initialOrganizationHolidays.forEach(orgHoliday => {
                    if (orgHoliday.organization && !this.chosenOrganizations.includes(orgHoliday.organization.name)) {
                        store.dispatch("deleteOrganizationHoliday", orgHoliday.id);
                    }
                });
            })
        }).then(() => {
            router.push({
                name: "Holidays"
            })
        });
    }

    get organizations(): IOrganization[] {
        return store.state.organizations.filter(orgs => this.chosenOrganizations.indexOf(orgs.name) === -1);
    }

    organizationHolidaysByHoliday(): void {
        store.state.organizationHolidaysByHoliday.forEach(organization => {
            if (organization.organization) {
                this.chosenOrganizations.push(organization.organization.name)
                this.initialOrganizationHolidays.push(organization)
            }
        });
    }

    addOrganization(organization: IOrganization) : void {
        this.chosenOrganizations.push(organization.name);
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    beforeMount(): void {
        store.dispatch("getHoliday", this.id).then(() => {
            store.dispatch("getOrganizationHolidaysByHoliday", this.id).then(() => {
                this.organizationHolidaysByHoliday();
            });
        });
        store.dispatch("getOrganizations");
    }
}
</script>
<style scoped>
.row {
    justify-content: unset;
}
.column {
    padding: 10px;
}
</style>
