<template>
    <div>
        <div class="row flex-center">
            <h1>Tähtpäevad</h1>
            <button
                class="btn btn-primary btn-add-new"
                @click="navigateToCreateWhenClicked()"
            >+ Lisa uus tähtpäev</button>
        </div>
        <tbody class="flex-center">
            <div class="table">
                <div class="table-row">
                    <div class="table-head-cell">Tähtpäev</div>
                    <div class="table-head-cell">Vaba päev</div>
                    <div class="table-head-cell">Kuupäev</div>
                    <div class="table-head-cell"></div>
                </div>
                <div class="table-row table-hover" v-for="holiday in holidays" :key="holiday.id">
                    <div class="table-cell">{{holiday.name}}</div>
                    <div class="table-cell" v-if="holiday.vocation"><font-awesome-icon icon="check" /></div>
                    <div class="table-cell" v-else><font-awesome-icon icon="times" /></div>
                    <div class="table-cell" >{{holiday.date}}</div>
                    <div class="table-cell flex-center">
                        <div class="pm-button" @click="navigateToDetailsWhenClicked(holiday)"
                        ><font-awesome-icon icon="pencil-alt" /></div>
                        <div :id="holiday.id" class="pm-button" v-b-modal="'modal-delete'"><font-awesome-icon icon="trash-alt" /></div>
                    </div>
                    <b-modal
                        :id="'modal-delete'"
                        title="Kustuta"
                        ok-title="Jah, kustuta"
                        cancel-title="Ei"
                        @ok="deleteWhenClicked(holiday.id)">
                        <div>
                            Kas oled kindel, et soovid tähtpäeva {{holiday.name}} kustutada?
                        </div>
                    </b-modal>
                </div>
            </div>
        </tbody>
    </div>
</template>

<script lang="ts">
import { IHoliday } from "@/domain/IHoliday";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class HolidaysIndex extends Vue {
    get holidays(): IHoliday[] {
        return store.state.holidays;
    }

    navigateToDetailsWhenClicked(holiday: IHoliday): void {
        router.push({
            name: "HolidayEdit",
            params: {
                id: holiday.id.toString()
            }
        });
    }

    navigateToCreateWhenClicked(): void {
        router.push({
            name: "HolidayCreate"
        });
    }

    deleteWhenClicked(id: string): void {
        store.dispatch('deleteHoliday', id);
        history.go();
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getHolidaysAdmin");
    }
}
</script>
