<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Broneeri ruum - {{talTechRoom.ruum_kood}}</h1>
        </div>
         <validation-observer v-slot="{ invalid }">
            <b-form>
                <b-form-group label="Ajad:">
                    <div v-for="time in times" :key="time">
                        {{time}}
                    </div>
                </b-form-group>
                <validation-provider v-slot="{ errors, valid }" name="Tüüp" rules="required">
                    <b-form-group label="Broneerimise tüüp:">
                        <b-form-select v-model="bookRequest.code">
                            <b-form-select-option disabled selected :value="null">Vali:</b-form-select-option>
                            <b-form-select-option
                                v-for="bookType in bookTypes"
                                :value="bookType.code"
                                :key="bookType.code"
                                :state="errors[0] ? false : (valid ? true : null)"
                                required>
                                {{ bookType.name }}
                            </b-form-select-option>
                            <b-form-invalid-feedback :state="valid">
                                <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                            </b-form-invalid-feedback>
                        </b-form-select>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Kommentaar" rules="required|max:250">
                    <b-form-group label="Kommentaar:">
                        <b-form-textarea
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="bookRequest.comment"
                            placeholder="Sisesta kommentaar"
                            required
                            type="text"
                            rows="3"
                        ></b-form-textarea>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <b-form-group>
                    <button id="book-button" :disabled="invalid" @click="bookOnClick()" class="btn btn-primary">
                        <span id="search">Saada taotlus</span>
                        <b-spinner id="loading" hidden small label="Loading..."></b-spinner>
                    </button>
                </b-form-group>
                <div id="success" class="flex-center" hidden v-if="success">
                    <h4>Taotlus on edukalt saadetud!</h4>
                </div>
                <div id="no-success" class="flex-center" hidden v-if="!success">
                    <h4>Taotluse saatmine ebaõnnestus, oota natuke ja proovi uuesti!</h4>
                </div>
            </b-form>
         </validation-observer>
    </div>
</template>

<script lang="ts">
import { IBookType } from "@/domain/IBookType";
import { ITalTechRoom } from "@/domain/ITalTechRoom";
import { ITalTechRoomsBookQuery } from "@/domain/ITalTechRoomsBookQuery";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class BookRoom extends Vue {
    @Prop()
    private id!: string;

    private bookRequest: ITalTechRoomsBookQuery = {
        times: store.state.times,
        room: store.state.talTechRoom,
        code: "",
        comment: "",
        personCode: "75896"
    };

    private success = false;

    get bookTypes(): IBookType[] {
        return store.state.bookTypes;
    }

    get times(): string[] {
        return store.state.times;
    }

    get talTechRoom(): ITalTechRoom | null {
        return store.state.talTechRoom;
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    bookOnClick(): void {
        let element = document.getElementById("loading");
        if (element) element.hidden = false;
        element = document.getElementById("search");
        if (element) element.hidden = true;
        (document.getElementById("book-button") as HTMLInputElement).disabled = true;
        store.dispatch("bookTalTechRoomResponse", this.bookRequest).then(() => {
            if (this.bookRequest.room && this.bookRequest.room.meeting) {
                store.dispatch("getMeeting", this.bookRequest.room.meeting.id).then(() => {
                    if (store.state.meeting) {
                        var meeting = store.state.meeting;
                        meeting.location = "Taodeldud: " + this.bookRequest.room?.hoone_nimetus + " - " + this.bookRequest.room?.ruum_kood;
                        store.dispatch("getTalTechRoomsByMeeting", this.bookRequest.room?.meeting?.id).then(() => {
                            if (store.state.talTechRooms) {
                                store.state.talTechRooms.forEach(talTechRoom => {
                                    store.dispatch("deleteTalTechRoom", talTechRoom.id);
                                });
                            }
                        })
                        store.dispatch("updateMeeting", meeting).then(() => {
                            router.push({
                                name: "MeetingEdit",
                                params: {
                                    id: meeting.id.toString()
                                }
                            });
                        });
                    }
                });
            }
            if (store.state.talTechRoom) {
                this.success = true;
                var element = document.getElementById("success");
                if (element) element.hidden = false;
            } else {
                this.success = false;
                element = document.getElementById("no-success");
                if (element) element.hidden = false;
            }
        });
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getBookTypes");
        store.dispatch("getTalTechRoom", this.id);
    }

    updated(): void {
        let element = document.getElementById("loading");
        if (element) element.hidden = true;
        element = document.getElementById("search");
        if (element) element.hidden = false;
        (document.getElementById("book-button") as HTMLInputElement).disabled = false;
    }
}
</script>
