<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Leia vaba ruum<span v-if="meetingId && meeting"> kohtumisele {{meeting.name}}</span></h1>
        </div>
        <validation-observer ref="form" id="observer" v-slot="{ invalid }">
            <b-form>
                <b-form-group label="Võimalikud ajad">
                    <b-form-tags
                        placeholder=""
                        v-model="chosenTimes">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <validation-provider v-slot="{ errors, valid }" name="Date" rules="required">
                                <b-form-group label="Kuupäev:">
                                    <b-form-datepicker
                                        v-model="date"
                                        id="Date"
                                        required
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        placeholder="Vali kuupäev:"
                                        :start-weekday="1"
                                    ></b-form-datepicker>
                                    <b-form-invalid-feedback :state="valid">
                                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                            <validation-provider v-slot="{ errors, valid }" name="Date" rules="required|dayhours">
                                <b-form-group label="Alguse aeg:">
                                    <b-form-timepicker
                                        v-model="startTime"
                                        @change="validStartEnd()"
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        placeholder="Vali kellaaeg:"
                                        minutes-step="5">
                                    </b-form-timepicker>
                                    <b-form-invalid-feedback :state="valid">
                                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                                    </b-form-invalid-feedback>
                                </b-form-group>
                            </validation-provider>
                            <validation-provider v-slot="{ errors, valid }" name="Date" rules="required|dayhours">
                                <b-form-group label="Lõpu aeg:">
                                    <b-form-timepicker
                                        v-model="endTime"
                                        @change="validStartEnd()"
                                        :state="errors[0] ? false : (valid ? true : null)"
                                        placeholder="Vali kellaaeg:"
                                        minutes-step="5">
                                    </b-form-timepicker>
                                    <b-form-invalid-feedback :state="valid">
                                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                                    </b-form-invalid-feedback>
                                    <br/>
                                    <button :disabled="invalid && !validStartEnd()" @click="addDateTime()" class="pm-button">
                                        Lisa aeg
                                    </button>
                                </b-form-group>
                            </validation-provider>
                        </template>
                    </b-form-tags>
                </b-form-group>
                <b-form-group label="Ruum:">
                    <b-form-tags
                        placeholder="Lisa uus"
                        input-id="Rooms"
                        v-model="query.rooms">
                    </b-form-tags>
                </b-form-group>
                <b-form-group label="Hooned:">
                    <b-form-tags
                        placeholder=""
                        input-id="Buildings" v-model="query.buildings">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <b-dropdown id="Buildings-adder" text="Lisa hoone:">
                                <b-dropdown-item v-for="building in buildings" :key="building.id"
                                    :value="building" @click="addBuilding(building)">
                                    {{ building.name }}
                                </b-dropdown-item>
                            </b-dropdown>
                        </template>
                    </b-form-tags>
                </b-form-group>
                <b-form-group label="Varustus:">
                    <b-form-tags
                        placeholder=""
                        input-id="Equipments" v-model="query.equipments">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <b-dropdown id="Equipments-adder" text="Lisa varustus:">
                                <b-dropdown-item v-for="equipment in equipments" :key="equipment.id"
                                    :value="equipment" @click="addEquipment(equipment)">
                                    {{ equipment.name }}
                                </b-dropdown-item>
                            </b-dropdown>
                        </template>
                    </b-form-tags>
                </b-form-group>
                <b-form-group label="Kohtade arv:">
                    <div class="flex-center">
                        <input
                            v-model="query.min"
                            class="form-control"
                            type="text"
                            id="min"
                        /> -
                        <input
                            v-model="query.max"
                            class="form-control"
                            type="text"
                            id="max"
                        />
                    </div>
                </b-form-group>
                <b-form-group label="Kas ruum on vaba:">
                    <div class="flex-center">
                        <div class="switch-left-label">
                            Hõivatud
                        </div>
                        <b-form-checkbox
                            v-model="query.free"
                            id="free"
                            switch>
                            Vaba
                        </b-form-checkbox>
                    </div>
                </b-form-group>
                <b-form-group label="Avalik:">
                    <div class="flex-center">
                        <div class="switch-left-label">
                            Ei
                        </div>
                        <b-form-checkbox
                            v-model="query.publicUse"
                            id="publicUse"
                            switch>
                            Jah
                        </b-form-checkbox>
                    </div>
                </b-form-group>
                <b-form-group>
                    <button :disabled="!validSearch && invalid && !validStartEnd()" id="search-button" @click="searchOnClick()" class="btn btn-primary">
                        <span id="search">Otsi</span>
                        <b-spinner id="loading" hidden small label="Loading..."></b-spinner>
                    </button>
                </b-form-group>
            </b-form>
        </validation-observer>
        <div id="no-rooms" class="flex-center" hidden v-if="talTechRooms.length == 0">
            <h1>Otsingule vastavaid ruume ei leitud!</h1>
        </div>
        <div class="flex-center" v-if="talTechRooms.length != 0">
            <h1>Leitud ruumid ({{talTechRooms.length}})</h1>
        </div>
        <tbody class="flex-center" v-if="talTechRooms.length != 0">
            <div class="table">
                <div class="table-row">
                    <div class="table-head-cell">Nr</div>
                    <div class="table-head-cell">Vaba</div>
                    <div class="table-head-cell">Ruumi number</div>
                    <div class="table-head-cell">Ruumi tüüp</div>
                    <div class="table-head-cell">Hoone</div>
                    <div class="table-head-cell">Korrus</div>
                    <div class="table-head-cell">Kohtade arv</div>
                    <div class="table-head-cell">Varustus</div>
                    <div class="table-head-cell"></div>
                </div>
                <div class="table-row table-hover" v-for="(talTechRoom, index) in talTechRooms" :key="index">
                    <div class="table-cell">{{talTechRooms.indexOf(talTechRoom) + 1}}</div>
                    <div class="table-cell answer-blue-icon" v-if="talTechRoom.vaba == '1'"><font-awesome-icon icon="check" /></div>
                    <div class="table-cell answer-red-icon" v-if="talTechRoom.vaba == '-1'"><font-awesome-icon icon="times" /></div>
                    <div class="table-cell">{{talTechRoom.ruum_kood}}</div>
                    <div class="table-cell">{{talTechRoom.ruumi_tyyp}}</div>
                    <div class="table-cell">{{talTechRoom.hoone_nimetus}}</div>
                    <div class="table-cell">{{talTechRoom.korrus}}</div>
                    <div class="table-cell">{{talTechRoom.kohtade_arv}}</div>
                    <div class="table-cell">{{talTechRoom.varustus}}</div>
                    <div class="table-cell" v-if="talTechRoom.avalik=='jah' && talTechRoom.vaba == '1'">
                        <div v-if="meetingId && meeting" class="pm-button" @click="addToMeetingWhenClicked(talTechRoom)"
                        >Lisa võimalusena</div>
                        <div class="pm-button" @click="navigateToBookWhenClicked(talTechRoom)"
                        >Taotle</div>
                    </div>
                    <div class="table-cell" v-if="talTechRoom.avalik=='ei'">
                        Ruum ei ole avalik
                    </div>
                    <div class="table-cell" v-if="talTechRoom.vaba == '-1'">
                        Ruum ei ole vaba
                    </div>
                </div>
            </div>
        </tbody>
    </div>
</template>

<script lang="ts">
import { IBuilding } from "@/domain/IBuilding";
import { IEquipment } from "@/domain/IEquipment";
import { IMeeting } from "@/domain/IMeeting";
import { ITalTechRoomCreate } from "@/domain/ITalTechRoom";
import { ITalTechRoomsQuery } from "@/domain/ITalTechRoomsQuery";
import { ITalTechRoomsResponse } from "@/domain/ITalTechRoomsResponse";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class FindRooms extends Vue {
    @Prop()
    private meetingId?: string;

    private query: ITalTechRoomsQuery = {
        times: [],
        rooms: [],
        buildings: [],
        equipments: [],
        min: "",
        max: "",
        free: true,
        publicUse: true
    };

    private chosenTimes: string[] = [];

    private validSearch = this.chosenTimes.length !== 0;

    private date = "";
    private startTime = "";
    private endTime = "";

    validStartEnd(): boolean {
        const start = new Date("2000-01-01 " + this.startTime).getHours();
        const end = new Date("2000-01-01 " + this.endTime).getHours();
        return start <= end;
    }

    get meeting(): IMeeting | null {
        return store.state.meeting;
    }

    get equipments(): IEquipment[] {
        return store.state.equipments.filter(equipments => this.query.equipments.indexOf(equipments.name) === -1);
    }

    get buildings(): IBuilding[] {
        return store.state.buildings.filter(buildings => this.query.buildings.indexOf(buildings.name) === -1);
    }

    get talTechRooms(): ITalTechRoomsResponse[] {
        return store.state.talTechRoomResponses;
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    searchOnClick(): void {
        let element = document.getElementById("loading");
        if (element) element.hidden = false;
        element = document.getElementById("search");
        if (element) element.hidden = true;
        (document.getElementById("search-button") as HTMLInputElement).disabled = true;
        element = document.getElementById("no-rooms");
        if (element) element.hidden = true;
        this.chosenTimes.forEach(chosenTime => {
            const dateTime = chosenTime.replace(" -> ", ":").split(" ");
            const date = dateTime[0].split("-");
            this.query.times.push(date[0] + ":" + date[1] + ":" + date[2] + ":" + dateTime[1])
        });
        store.dispatch("getTalTechRoomResponses", this.query);
    }

    addDateTime(): void {
        this.chosenTimes.push(this.date + ' ' + this.startTime.slice(0, -3) + ' -> ' +
            this.endTime.slice(0, -3));
    }

    addBuilding(building: IBuilding) : void {
        this.query.buildings.push(building.name);
    }

    addEquipment(equipment: IEquipment) : void {
        this.query.equipments.push(equipment.name);
    }

    goBackOnClick(): void {
        router.back();
    }

    addToMeetingWhenClicked(talTechRoom: ITalTechRoomsResponse): void {
        var talTechRoomCreate: ITalTechRoomCreate = {
            row_num: talTechRoom.row_num,
            hoone: talTechRoom.hoone,
            ruum_id: talTechRoom.ruum_id,
            ruum_kood: talTechRoom.ruum_kood,
            hoone_nimetus: talTechRoom.hoone_nimetus,
            korrus: talTechRoom.korrus,
            avalik: talTechRoom.avalik,
            kohtade_arv: talTechRoom.kohtade_arv,
            vaba: talTechRoom.vaba,
            vaba_txt: talTechRoom.vaba_txt,
            ruumi_tyyp: talTechRoom.ruumi_tyyp,
            bron_txt: talTechRoom.bron_txt,
            varustus: talTechRoom.varustus,
            meeting: this.meeting
        }
        store.dispatch("createTalTechRoom", talTechRoomCreate).then(() => {
            store.state.times = this.query.times;
            if (this.meeting) {
                router.push({
                    name: "MeetingEdit",
                    params: {
                        id: this.meeting.id.toString()
                    }
                });
            }
        });
    }

    navigateToBookWhenClicked(talTechRoom: ITalTechRoomsResponse): void {
        var talTechRoomCreate: ITalTechRoomCreate = {
            row_num: talTechRoom.row_num,
            hoone: talTechRoom.hoone,
            ruum_id: talTechRoom.ruum_id,
            ruum_kood: talTechRoom.ruum_kood,
            hoone_nimetus: talTechRoom.hoone_nimetus,
            korrus: talTechRoom.korrus,
            avalik: talTechRoom.avalik,
            kohtade_arv: talTechRoom.kohtade_arv,
            vaba: talTechRoom.vaba,
            vaba_txt: talTechRoom.vaba_txt,
            ruumi_tyyp: talTechRoom.ruumi_tyyp,
            bron_txt: talTechRoom.bron_txt,
            varustus: talTechRoom.varustus,
            meeting: this.meeting
        }
        store.dispatch("createTalTechRoom", talTechRoomCreate).then(() => {
            store.state.times = this.query.times;
            store.dispatch("getLastTalTechRoom").then(() => {
                if (store.state.talTechRoom) {
                    router.push({
                        name: "BookRoom",
                        params: {
                            id: store.state.talTechRoom?.id.toString()
                        }
                    });
                }
            });
        });
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getBuildings");
        store.dispatch("getEquipments");
        if (this.meetingId) {
            store.dispatch("getMeeting", this.meetingId);
        }
    }

    updated(): void {
        let element = document.getElementById("loading");
        if (element) element.hidden = true;
        element = document.getElementById("search");
        if (element) element.hidden = false;
        (document.getElementById("search-button") as HTMLInputElement).disabled = false;
        element = document.getElementById("no-rooms");
        if (element) element.hidden = false;
    }
}
</script>
