div {
    font-family: "Milliard Medium";
}

.btn-primary {
    background-color: #4dbed2;
    border-color: #4dbed2;
}

.btn-primary:disabled {
    background-color: #e4067e;
    border-color: #e4067e;
}

.btn-primary:hover {
    background-color: #e4067e;
    border-color: #e4067e;
}