<template>
  <div>
    <div class="flex-center">
        <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
        <h1>Lisa uus kohtumine</h1>
    </div>
    <validation-observer v-slot="{ invalid }">
        <b-form>
            <validation-provider v-slot="{ errors, valid }" name="Nimi" rules="required|max:50">
                <b-form-group label="Nimi:">
                    <b-form-input
                        :state="errors[0] ? false : (valid ? true : null)"
                        v-model="meeting.name"
                        placeholder="Sisesta nimi"
                        required
                        type="text"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <validation-provider v-slot="{ errors, valid }" name="Kirjeldus" rules="max:250">
                <b-form-group label="Kirjeldus:">
                    <b-form-textarea
                        :state="errors[0] ? false : (valid ? true : null)"
                        v-model="meeting.description"
                        placeholder="Sisesta kirjeldus"
                        type="text"
                        rows="4"
                    ></b-form-textarea>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <div class="flex-center">
                <div>
                    <b-form-group label="Kuupäev:">
                        <div class="flex-center">
                            <b-form-datepicker
                                v-model="date"
                                class="form-control datetime"
                                id="Date"
                                placeholder="Vali kuupäev:"
                                :start-weekday="1"
                            ></b-form-datepicker>
                        </div>
                    </b-form-group>
                    <b-form-group label="Alguse aeg:">
                        <div class="flex-center">
                            <b-form-timepicker
                                v-model="startTime"
                                placeholder="Vali kellaaeg:"
                                class="form-control datetime">
                            </b-form-timepicker>
                        </div>
                    </b-form-group>
                    <b-form-group label="Lõpu aeg:">
                        <div class="flex-center">
                            <b-form-timepicker
                                v-model="endTime"
                                placeholder="Vali kellaaeg:"
                                class="form-control datetime">
                            </b-form-timepicker>
                        </div>
                    </b-form-group>
                    </div>
                    <div class="or">
                        või
                    </div>
                    <button
                        :disabled="invalid"
                        class="btn btn-primary btn-right-form"
                        @click="navigate('questionnaire-create')"
                    >+ Loo küsitlus</button>
            </div>
            <validation-provider v-slot="{ errors, valid }" name="Asukoht" rules="max:50">
                <b-form-group label="Asukoht:">
                    <div class="flex-center">
                        <b-form-textarea
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="meeting.location"
                            placeholder="Sisesta asukoht"
                            type="text"
                            rows="3"
                        ></b-form-textarea>
                        <div class="or">
                            või
                        </div>
                        <button
                            :disabled="invalid"
                            class="btn btn-primary btn-right-form"
                            @click="navigate('talTechRooms')"
                            type="button"
                        >Otsi TalTech ruume</button>
                    </div>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <b-form-group label="Kutsu osalejaid:">
                <b-button size="sm" class="btn btn-primary users-button" @click="onClickAddAll()">Lisa kõik</b-button>
                <b-button size="sm" class="btn btn-primary users-button" @click="onClickRemoveAll()">Eemalda kõik</b-button>
                <b-form-tags
                    placeholder=""
                    input-id="Organizations" v-model="chosenOrganizations">
                    <template v-slot="{ tags, disabled, removeTag }">
                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                            <li v-for="tag in tags" :key="tag" class="list-inline-item">
                            <b-form-tag
                                @remove="removeTag(tag)"
                                :title="tag"
                                :disabled="disabled"
                                variant="info"
                            >{{ tag }}</b-form-tag>
                            </li>
                        </ul>
                        <b-dropdown id="Organziations-adder" text="Lisa organisatsioon:">
                            <b-dropdown-item v-for="organization in organizations" :key="organization.id"
                                :value="organization" @click="addOrganization(organization)">
                                {{ organization.name }}
                            </b-dropdown-item>
                        </b-dropdown>
                    </template>
                </b-form-tags>
                <b-form-tags
                    placeholder=""
                    input-id="Users" v-model="chosenUsers">
                    <template v-slot="{ tags, disabled, removeTag }">
                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                            <li v-for="tag in tags" :key="tag" class="list-inline-item">
                            <b-form-tag
                                @remove="removeTag(tag)"
                                :title="tag"
                                :disabled="disabled"
                                variant="info"
                            >{{ tag }}</b-form-tag>
                            </li>
                        </ul>
                        <b-dropdown id="Users-adder" text="Lisa inimene:">
                            <b-dropdown-item v-for="user in users" :key="user.id"
                                :value="user" @click="addUser(user)">
                                {{ user.username }}
                            </b-dropdown-item>
                        </b-dropdown>
                    </template>
                </b-form-tags>
            </b-form-group>
            <div class="form-group">
            <button :disabled="invalid" @click="createOnClick($event)" class="btn btn-primary">
                Salvesta
            </button>
            </div>
        </b-form>
    </validation-observer>
  </div>
</template>

<script lang="ts">
import { IMeetingCreate } from "@/domain/IMeeting";
import { IOrganization } from "@/domain/IOrganization";
import { IQuestionnaire } from "@/domain/IQuestionnaire";
import { IUser } from "@/domain/IUser";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class MeetingCreate extends Vue {
    private meeting: IMeetingCreate = {
        name: "",
        description: "",
        location: "",
        startTime: null,
        endTime: null
    };

    private date = "";
    private startTime = "";
    private endTime = "";

    private chosenOrganizations: string[] = [];
    private chosenUsers: string[] = [];

    get questionnaire(): IQuestionnaire | null {
        return store.state.questionnaire;
    }

    get organizations(): IOrganization[] {
        return store.state.organizations.filter(orgs => this.chosenOrganizations.indexOf(orgs.name) === -1);
    }

    get users(): IUser[] {
        return store.state.users
            .filter(users => this.chosenUsers.indexOf(users.username) === -1)
            .filter(users => users.username !== sessionStorage.getItem('username'));
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    createOnClick(): void {
        this.getDateTime();
        store.dispatch("createMeeting", this.meeting).then(() => {
            store.dispatch("getLastMeeting").then(() => {
                if (store.state.questionnaireInCreation) {
                    store.state.questionnaireInCreation.meeting = store.state.meeting;
                    store.dispatch("createQuestionnaire", store.state.questionnaireInCreation).then(() => {
                        store.dispatch("getLastQuestionnaire").then(() => {
                            store.state.meetingTimesInCreation.forEach(time => {
                                const times = time.split(' -> ');
                                store.dispatch("createMeetingTime", {
                                    startTime: new Date(times[0]),
                                    endTime: new Date(times[1]),
                                    questionnaire: store.state.questionnaire
                                });
                            });
                            store.state.meetingTimesInCreation.forEach(answer => {
                                store.dispatch("createAnswer", {
                                    name: answer,
                                    questionnaire: store.state.questionnaire
                                });
                            });
                        })
                    });
                }
                this.chosenUsers.filter(users => users !== sessionStorage.getItem('username')).forEach(user => {
                    store.dispatch("getUserByUsername", user).then(() => {
                        store.dispatch("createMeetingMember", {
                            organizer: false,
                            meeting: store.state.meeting,
                            user: store.state.user
                        });
                    })
                });
                store.dispatch("getUserByUsername", sessionStorage.getItem('username')).then(() => {
                    store.dispatch("createMeetingMember", {
                        organizer: true,
                        meeting: store.state.meeting,
                        user: store.state.user
                    });
                })
            });
        }).then(() => {
            store.state.meetingInCreation = null;
            store.state.questionnaireInCreation = null;
            store.state.answersInCreation = [];
            store.state.meetingTimesInCreation = [];
            router.push("/meetings");
        })
    }

    getDateTime(): void {
        this.meeting.startTime = new Date(this.date + ' ' + this.startTime);
        this.meeting.endTime = new Date(this.date + ' ' + this.endTime);
    }

    addOrganization(organization: IOrganization) : void {
        this.chosenOrganizations.push(organization.name);
        store.dispatch("getUserOrganizationsByOrganization", organization.id).then(() => {
            store.state.userOrganizations.forEach(userOrganization => {
                if (userOrganization.user) this.chosenUsers.push(userOrganization.user.username);
            });
        });
    }

    addUser(user: IUser) : void {
        this.chosenUsers.push(user.username);
    }

    onClickAddAll(): void {
        store.state.organizations.forEach((organization) => {
            this.addOrganization(organization);
        })
    }

    onClickRemoveAll(): void {
        this.chosenOrganizations = [];
        this.chosenUsers = [];
    }

    navigate(location: string): void {
        this.getDateTime();
        store.dispatch("createMeeting", this.meeting).then(() => {
            store.dispatch("getLastMeeting").then(() => {
                this.chosenUsers.filter(users => users !== sessionStorage.getItem('username')).forEach(user => {
                    store.dispatch("getUserByUsername", user).then(() => {
                        store.dispatch("createMeetingMember", {
                            organizer: false,
                            meeting: store.state.meeting,
                            user: store.state.user
                        });
                    })
                });
                store.dispatch("getUserByUsername", sessionStorage.getItem('username')).then(() => {
                    store.dispatch("createMeetingMember", {
                        organizer: true,
                        meeting: store.state.meeting,
                        user: store.state.user
                    });
                })
                if (location === "questionnaire-create" && store.state.meeting) {
                    router.push({
                        name: "QuestionnaireCreate",
                        params: {
                            meetingId: store.state.meeting.id.toString()
                        }
                    });
                } else if (location === "questionnaire-edit" && this.questionnaire) {
                    router.push({
                        name: "QuestionnaireEdit",
                        params: {
                            id: this.questionnaire.id.toString()
                        }
                    });
                } else if (location === "talTechRooms" && store.state.meeting) {
                    router.push({
                        name: "FindRooms",
                        params: {
                            meetingId: store.state.meeting.id.toString()
                        }
                    });
                }
            });
        });
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getOrganizations");
        store.dispatch("getUsers");
    }
}
</script>
<style scoped>
.row {
  justify-content: unset;
}
.column {
  padding: 10px;
}
.card {
  height: 100%;
}
.card-description {
  flex-grow: 1;
  padding: 10px;
}
.card-action {
  text-align: center;
  padding-bottom: 10px;
}
</style>
