<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Kohtumine - {{meeting.name}}</h1>
            <div
                class="pm-button"
                @click="navigateToEditWhenClicked()"
            ><font-awesome-icon icon="pencil-alt" /></div>
            <div class="pm-button" v-b-modal="'modal-delete'"><font-awesome-icon icon="trash-alt" /></div>
            <b-modal
                :id="'modal-delete'"
                title="Kustuta"
                ok-title="Jah, kustuta"
                cancel-title="Ei"
                @ok="deleteWhenClicked()">
                <div>
                    Kas oled kindel, et soovid kohtumise {{meeting.name}} kustutada?
                </div>
            </b-modal>
        </div>
        <div>
            <div class="flex-center quest-details-label">
                <div>Kirjeldus:</div>
            </div>
            <div class="flex-center">
                <div>{{meeting.description}}</div>
            </div>
        </div>
        <div v-if="!this.questionnaire">
            <div class="flex-center quest-details-label">
                <div>Alguse aeg:</div>
            </div>
            <div class="flex-center">
                <div>{{new Date(meeting.startTime).toLocaleString()}}</div>
            </div>
        </div>
        <div v-if="!this.questionnaire">
            <div class="flex-center quest-details-label">
                <div>Lõpu aeg:</div>
            </div>
            <div class="flex-center">
                <div>{{new Date(meeting.endTime).toLocaleString()}}</div>
            </div>
        </div>
        <div v-if="this.questionnaire" class="flex-center quest-details-label">
            <button
                class="btn btn-primary btn-add-new "
                @click="navigateToQuestionnaireWhenClicked()"
            >Vasta küsitlusele</button>
        </div>
        <div>
            <div class="flex-center quest-details-label">
                <div>Asukoht:</div>
            </div>
            <div class="flex-center">
                <div>{{meeting.location}}</div>
            </div>
        </div>
        <div>
            <div class="flex-center quest-details-label">
                <div>Korraldaja:</div>
            </div>
            <div class="flex-center">
                <div>{{organizer}}</div>
            </div>
        </div>
        <div>
            <div class="flex-center quest-details-label">
                <div>Kutsutud ({{chosenUsers.length}}):</div>
            </div>
            <div class="flex-center" v-for="meetingMember in chosenUsers" :key="meetingMember">
                <div>{{meetingMember}}</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { IQuestionnaire } from "@/domain/IQuestionnaire";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import { IMeeting } from "../../../domain/IMeeting";
import store from "../../../store";

@Component
export default class MeetingDetails extends Vue {
    @Prop()
    private id!: string;

    private chosenUsers: string[] = [];
    private organizer = "";

    get meeting(): IMeeting | null {
        return store.state.meeting;
    }

    get questionnaire(): IQuestionnaire | null {
        return store.state.questionnaire;
    }

    getMeetingMembers(): void {
        store.state.meetingMembers.forEach(meetingMember => {
            if (meetingMember.organizer && meetingMember.user) this.organizer = meetingMember.user.username;
            else if (meetingMember.user) this.chosenUsers.push(meetingMember.user.username);
        });
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    navigateToQuestionnaireWhenClicked(): void {
        if (this.questionnaire) {
            router.push({
                name: "QuestionnaireDetails",
                params: {
                    id: this.questionnaire.id.toString()
                }
            });
        }
    }

    navigateToEditWhenClicked(): void {
        if (this.meeting) {
            router.push({
                name: "MeetingEdit",
                params: {
                    id: this.meeting.id.toString()
                }
            });
        }
    }

    deleteWhenClicked(): void {
        store.dispatch('deleteMeeting', this.meeting?.id.toString());
        history.go();
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getMeeting", this.id);
        store.dispatch("getQuestionnaireByMeeting", this.id);
        store.dispatch("getMeetingMembersByMeeting", this.id);
        this.getMeetingMembers();
    }
}
</script>
<style scoped>
.row {
    justify-content: unset;
}
.column {
    padding: 10px;
}
.card {
height: 100%;
}
.card-description {
    flex-grow: 1;
    padding: 10px;
}
.card-action {
    text-align: center;
    padding-bottom: 10px;
}
</style>
