<template>
  <div>
    <div class="flex-center">
        <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
        <h1>Muuda kohtumist {{meeting.name}}</h1>
    </div>
    <validation-observer v-slot="{ invalid }">
        <b-form>
            <validation-provider v-slot="{ errors, valid }" name="Nimi" rules="required|max:50">
                <b-form-group label="Nimi:">
                    <b-form-input
                        :state="errors[0] ? false : (valid ? true : null)"
                        v-model="meeting.name"
                        placeholder="Sisesta nimi"
                        required
                        type="text"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <validation-provider v-slot="{ errors, valid }" name="Kirjeldus" rules="max:250">
                <b-form-group label="Kirjeldus:">
                    <b-form-textarea
                        :state="errors[0] ? false : (valid ? true : null)"
                        v-model="meeting.description"
                        placeholder="Sisesta kirjeldus"
                        type="text"
                        rows="4"
                    ></b-form-textarea>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <div class="flex-center">
                <b-form-group label="Võimalikud ajad:" v-if="questionnaire">
                    <div class="flex-center times-info">
                        <div>
                            <div v-for="meetingTime in meetingTimes" :key="meetingTime.id">
                                {{showTime(meetingTime.startTime, meetingTime.endTime)}}
                            </div>
                        </div>
                        <button v-if="questionnaire"
                            class="btn btn-primary btn-right-form"
                            @click="navigateToQuestionnaireWhenClicked()"
                        >Muuda küsitlust</button>
                    </div>
                </b-form-group>
                <div v-if="!questionnaire">
                    <b-form-group label="Kuupäev:">
                        <div class="flex-center">
                            <b-form-datepicker
                                v-model="date"
                                class="form-control datetime"
                                id="Date"
                                placeholder="Vali kuupäev:"
                                :start-weekday="1"
                            ></b-form-datepicker>
                        </div>
                    </b-form-group>
                    <b-form-group label="Alguse aeg:">
                        <div class="flex-center">
                            <b-form-timepicker
                                v-model="startTime"
                                placeholder="Vali kellaaeg:"
                                class="form-control datetime">
                            </b-form-timepicker>
                        </div>
                    </b-form-group>
                    <b-form-group label="Lõpu aeg:">
                        <div class="flex-center">
                            <b-form-timepicker
                                v-model="endTime"
                                placeholder="Vali kellaaeg:"
                                class="form-control datetime">
                            </b-form-timepicker>
                        </div>
                    </b-form-group>
                </div>
                <div v-if="!questionnaire" class="or">
                    või
                </div>
                <button v-if="!questionnaire"
                    class="btn btn-primary btn-right-form"
                    @click="navigateToCreateQuestionnaireWhenClicked()"
                >+ Loo küsitlus</button>
            </div>
            <validation-provider v-slot="{ errors, valid }" name="Asukoht" rules="max:120">
                <b-form-group label="Asukoht:">
                    <div class="flex-center">
                            <b-form-textarea
                                :state="errors[0] ? false : (valid ? true : null)"
                                v-model="meeting.location"
                                placeholder="Sisesta asukoht"
                                type="text"
                                rows="3"
                            ></b-form-textarea>
                        <div class="or" v-if="talTechRooms.length == 0">
                            või
                        </div>
                        <button v-if="talTechRooms.length === 0"
                            class="btn btn-primary btn-right-form"
                            @click="navigateToTalTechRoomsWhenClicked()"
                        >Otsi TalTech ruume</button>
                    </div>
                    <b-form-invalid-feedback :state="valid">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                    </b-form-invalid-feedback>
                </b-form-group>
            </validation-provider>
            <div v-if="talTechRooms.length !== 0">
                <b-form-group label="Meelde jäetud TalTech ruumid:">
                    <div class="flex-center times-info">
                        <div class="flex-center" v-for="talTechRoom in talTechRooms" :key="talTechRoom.id">
                            <div>
                                {{talTechRoom.hoone_nimetus}} - {{talTechRoom.ruum_kood}}
                            </div>
                            <button
                                id="search-button"
                                :disabled="date === '' || startTime === '' || endTime === ''"
                                class="btn btn-primary btn-right-form"
                                @click="checkIfAvailable(talTechRoom)">
                                <span id="search">Kontrolli saadavust</span>
                                <b-spinner id="loading" hidden small label="Loading..."></b-spinner>
                            </button>
                            <button
                                :disabled="!roomsChecked[talTechRoom.id.toString()] || date === '' || startTime === '' || endTime === ''"
                                class="btn btn-primary btn-right-form"
                                @click="navigateToBookWhenClicked(talTechRoom)"
                            >Taotle</button>
                        </div>
                    </div>
                </b-form-group>
            </div>
            <b-form-group label="Korraldaja:">
                <div>
                    {{organizer}}
                </div>
            </b-form-group>
            <b-form-group label="Kutsu osalejaid:">
                <b-button size="sm" class="btn btn-primary users-button" @click="onClickAddAll()">Lisa kõik</b-button>
                <b-button size="sm" class="btn btn-primary users-button" @click="onClickRemoveAll()">Eemalda kõik</b-button>
                <b-form-tags
                    placeholder=""
                    input-id="Organizations" v-model="chosenOrganizations">
                    <template v-slot="{ tags, disabled, removeTag }">
                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                            <li v-for="tag in tags" :key="tag" class="list-inline-item">
                            <b-form-tag
                                @remove="removeTag(tag)"
                                :title="tag"
                                :disabled="disabled"
                                variant="info"
                            >{{ tag }}</b-form-tag>
                            </li>
                        </ul>
                        <b-dropdown id="Organziations-adder" text="Lisa organisatsioon:">
                            <b-dropdown-item v-for="organization in organizations" :key="organization.id"
                                :value="organization" @click="addOrganization(organization)">
                                {{ organization.name }}
                            </b-dropdown-item>
                        </b-dropdown>
                    </template>
                </b-form-tags>
                <b-form-tags
                    placeholder=""
                    input-id="Users" v-model="chosenUsers">
                    <template v-slot="{ tags, disabled, removeTag }">
                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                            <li v-for="tag in tags" :key="tag" class="list-inline-item">
                            <b-form-tag
                                @remove="removeTag(tag)"
                                :title="tag"
                                :disabled="disabled"
                                variant="info"
                            >{{ tag }}</b-form-tag>
                            </li>
                        </ul>
                        <b-dropdown id="Users-adder" text="Lisa inimene:">
                            <b-dropdown-item v-for="user in users" :key="user.id"
                                :value="user" @click="addUser(user)">
                                {{ user.username }}
                            </b-dropdown-item>
                        </b-dropdown>
                    </template>
                </b-form-tags>
            </b-form-group>
            <div class="form-group">
            <button :disabled="invalid" @click="createOnClick($event)" class="btn btn-primary">
                Salvesta
            </button>
            </div>
        </b-form>
    </validation-observer>
  </div>
</template>

<script lang="ts">
import { IMeeting } from "@/domain/IMeeting";
import { IMeetingTime } from "@/domain/IMeetingTime";
import { IOrganization } from "@/domain/IOrganization";
import { IQuestionnaire } from "@/domain/IQuestionnaire";
import { ITalTechRoom } from "@/domain/ITalTechRoom";
import { ITalTechRoomsQuery } from "@/domain/ITalTechRoomsQuery";
import { IUser } from "@/domain/IUser";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class MeetingEdit extends Vue {
    @Prop()
    private id!: string;

    private date = "";
    private startTime = "";
    private endTime = "";

    private roomsChecked: { [talTechRoom: number] : boolean; } = {};

    private chosenOrganizations: string[] = [];
    private chosenUsers: string[] = [];
    private organizer = "";

    get meeting(): IMeeting | null {
        return store.state.meeting;
    }

    get questionnaire(): IQuestionnaire | null {
        return store.state.questionnaire;
    }

    get meetingTimes(): IMeetingTime[] {
        return store.state.meetingTimes;
    }

    get talTechRooms(): ITalTechRoom[] {
        return store.state.talTechRooms;
    }

    get organizations(): IOrganization[] {
        return store.state.organizations.filter(orgs => this.chosenOrganizations.indexOf(orgs.name) === -1);
    }

    get users(): IUser[] {
        return store.state.users
            .filter(users => this.chosenUsers.indexOf(users.username) === -1)
            .filter(users => users.username !== sessionStorage.getItem('username'));
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    getMeetingMembers(): void {
        store.state.meetingMembers.forEach(meetingMember => {
            if (meetingMember.organizer && meetingMember.user) this.organizer = meetingMember.user.username;
            else if (meetingMember.user) this.chosenUsers.push(meetingMember.user.username);
        });
    }

    getTimes(): void {
        if (this.meeting && this.meeting.startTime) {
            this.date = new Date(this.meeting.startTime).getFullYear() + "-" + (new Date(this.meeting.startTime).getMonth() + 1) +
            "-" + new Date(this.meeting.startTime).getDate();
            this.startTime = new Date(this.meeting.startTime).toLocaleTimeString();
        }
        if (this.meeting && this.meeting.endTime) {
            this.date = new Date(this.meeting.endTime).getFullYear() + "-" + (new Date(this.meeting.endTime).getMonth() + 1) +
            "-" + new Date(this.meeting.endTime).getDate();
            this.endTime = new Date(this.meeting.endTime).toLocaleTimeString();
        }
    }

    createOnClick(): void {
        this.getDateTime();
        store.dispatch("updateMeeting", this.meeting).then(() => {
            this.chosenUsers.filter(users => users !== sessionStorage.getItem('username')).forEach(user => {
                store.dispatch("getUserByUsername", user).then(() => {
                    store.dispatch("createMeetingMember", {
                        organizer: false,
                        meeting: this.meeting,
                        user: store.state.user
                    });
                })
            });
        }).then(() => {
            router.push("/meetings");
        })
    }

    getDateTime(): void {
        if (this.meeting) {
            this.meeting.startTime = new Date(this.date + ' ' + this.startTime);
            this.meeting.endTime = new Date(this.date + ' ' + this.endTime);
        }
    }

    showTime(startTime: string, endTime: string): string {
        var showTime = "";
        var dateTimeparts = startTime.split("T");
        showTime += dateTimeparts[0];
        showTime += " kell ";
        showTime += dateTimeparts[1].substring(0, 5);
        dateTimeparts = endTime.split("T");
        showTime += " - ";
        showTime += dateTimeparts[1].substring(0, 5);
        return showTime;
    }

    addOrganization(organization: IOrganization) : void {
        this.chosenOrganizations.push(organization.name);
        store.dispatch("getUserOrganizationsByOrganization", organization.id).then(() => {
            store.state.userOrganizations.forEach(userOrganization => {
                if (userOrganization.user) this.chosenUsers.push(userOrganization.user.username);
            });
        });
    }

    addUser(user: IUser) : void {
        this.chosenUsers.push(user.username);
    }

    onClickAddAll(): void {
        store.state.organizations.forEach((organization) => {
            this.addOrganization(organization);
        })
    }

    onClickRemoveAll(): void {
        this.chosenOrganizations = [];
        this.chosenUsers = [];
    }

    navigateToQuestionnaireWhenClicked(): void {
        if (this.questionnaire) {
            router.push({
                name: "QuestionnaireEdit",
                params: {
                    id: this.questionnaire.id.toString()
                }
            });
        }
    }

    navigateToTalTechRoomsWhenClicked(): void {
        store.state.meetingInCreation = this.meeting;
        router.push("/rooms");
    }

    navigateToCreateQuestionnaireWhenClicked(): void {
        store.state.meetingInCreation = this.meeting;
        router.push({
            name: "QuestionnaireCreate"
        });
    }

    checkIfAvailable(talTechRoom: ITalTechRoom): void {
        var findRoomRequest: ITalTechRoomsQuery = {
            times: [],
            rooms: [],
            buildings: [],
            equipments: [],
            min: "",
            max: "",
            free: true,
            publicUse: true
        };
        var times: string[] = [];
        var time = "";
        time += this.date.replaceAll("-", ":");
        time += ":";
        time += this.startTime.substring(0, 5);
        time += ":";
        time += this.endTime.substring(0, 5);
        times.push(time);
        findRoomRequest.times = times;
        findRoomRequest.rooms.push(talTechRoom.ruum_kood);
        let element = document.getElementById("loading");
        if (element) element.hidden = false;
        element = document.getElementById("search");
        if (element) element.hidden = true;
        (document.getElementById("search-button") as HTMLInputElement).disabled = true;
        store.dispatch("getTalTechRoomResponses", findRoomRequest).then(() => {
            if (store.state.talTechRoomResponses &&
                store.state.talTechRoomResponses[0].ruum_kood === talTechRoom.ruum_kood &&
                store.state.talTechRoomResponses[0].vaba === "1") {
                this.roomsChecked[talTechRoom.id] = true;
                let element = document.getElementById("loading");
                if (element) element.hidden = true;
                element = document.getElementById("search");
                if (element) element.hidden = false;
                (document.getElementById("search-button") as HTMLInputElement).disabled = false;
            }
        });
    }

    navigateToBookWhenClicked(talTechRoom: ITalTechRoom): void {
        var times: string[] = [];
        var time = "";
        time += this.date.replaceAll("-", ":");
        time += ":";
        time += this.startTime.substring(0, 5);
        time += ":";
        time += this.endTime.substring(0, 5);
        times.push(time);
        store.state.times = times;
        router.push({
            name: "BookRoom",
            params: {
                id: talTechRoom.id.toString()
            }
        });
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getMeeting", this.id).then(() => {
            store.dispatch("getQuestionnaireByMeeting", this.id).then(() => {
                store.dispatch("getMeetingTimesByQuestionnaire", store.state.questionnaire?.id);
            });
            store.dispatch("getMeetingMembersByMeeting", this.id);
            this.getMeetingMembers();
            this.getTimes();
            store.dispatch("getTalTechRoomsByMeeting", this.id);
        });
        store.dispatch("getOrganizations");
        store.dispatch("getUsers");
    }
}
</script>
<style scoped>
.row {
  justify-content: unset;
}
.column {
  padding: 10px;
}
.card {
  height: 100%;
}
.card-description {
  flex-grow: 1;
  padding: 10px;
}
.card-action {
  text-align: center;
  padding-bottom: 10px;
}
</style>
