<template>
    <div>
        <div class="row flex-center">
            <div class="calendar-month-change flex-center">
                <font-awesome-icon class="fa-2x" icon="arrow-left" @click="monthBefore()"/>
                <div class="calendar-month-name">
                    {{ currentMonthString }} {{ date.getFullYear() }}
                </div>
                <font-awesome-icon class="fa-2x" icon="arrow-right" @click="monthAfter()"/>
            </div>
            <h1>Kohtumised</h1>
            <button
                class="btn btn-primary btn-add-new"
                @click="navigateToCreateWhenClicked()"
            >+ Lisa uus kohtumine</button>
        </div>
        <tbody class="flex-center">
            <div class="table">
                <div class="table-row">
                    <div class="table-head-cell" v-for="weekDay in days" :key="weekDay">{{weekDay}}</div>
                </div>
                <div class="table-row" v-for="(week, index) in weeks" :key="index">
                    <div class="calendar-cell table-cell table-hover" v-for="(day, index) in week" :key="index">
                        <div class="calendar-date">
                            {{day}}
                            <div v-for="(holiday, index) in holidays" :key="index">
                                <div v-if="day == new Date(holiday.date).getDate().toString() &&
                                date.getMonth() == new Date(holiday.date).getMonth() &&
                                date.getYear() == new Date(holiday.date).getYear()">
                                    <div class="holiday">
                                        <font-awesome-icon icon="birthday-cake" /> {{holiday.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-for="(meeting, index) in meetings" :key="index">
                            <div v-if="day == new Date(meeting.startTime).getDate().toString() &&
                            date.getMonth() == new Date(meeting.startTime).getMonth() &&
                            date.getYear() == new Date(meeting.startTime).getYear()">
                                <button class="btn btn-primary meeting-btn" @click="navigateToDetailsWhenClicked(meeting)">
                                    {{ new Date(meeting.startTime).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) }}
                                    - {{ new Date(meeting.endTime).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) }}
                                    {{meeting.name}}
                                </button>
                            </div>
                        </div>
                        <div v-for="(user, index) in users" :key="'user' + index">
                            <div v-if="day == new Date(user.birthday).getDate().toString() &&
                            date.getMonth() == new Date(user.birthday).getMonth()">
                                <div class="birthday">
                                    <font-awesome-icon icon="birthday-cake" /> {{user.username}} sünnipäev
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </div>
</template>

<script lang="ts">
import { IHoliday } from "@/domain/IHoliday";
import { IUser } from "@/domain/IUser";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import { IMeeting } from "../../../domain/IMeeting";
import store from "../../../store";

@Component
export default class MeetingIndex extends Vue {
    private date: Date = new Date();
    private currentMonthString: string = new Date().toLocaleString([], { month: 'long' });
    private days: string[] = ["E", "T", "K", "N", "R", "L", "P"];
    private weeks: string[][] = [];

    get meetings(): IMeeting[] {
        return store.state.meetings;
    }

    get holidays(): IHoliday[] {
        return store.state.holidays;
    }

    get users(): IUser[] {
        return store.state.users;
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    navigateToCreateWhenClicked(): void {
        router.push({
            name: "MeetingCreate"
        });
    }

    navigateToDetailsWhenClicked(meeting: IMeeting): void {
        router.push({
            name: "MeetingDetails",
            params: {
                id: meeting.id.toString()
            }
        });
    }

    initializeCalendar(month: number, year: number): void{
        this.date = new Date(year, month, 1);
        this.currentMonthString = this.date.toLocaleString([], { month: 'long' });
        const weekDates = this.fillDates(this.date);
        const weeks: string[][] = [];
        weekDates.forEach(week => {
            const weekOfDates = [];
            if (week.start === 1) {
                for (let i = 0; i < 7 - week.end; i++) {
                    weekOfDates.push(" ");
                }
            }
            for (let i = week.start; i < week.end + 1; i++) {
                weekOfDates.push(i.toString());
            }
            if (week.start !== 1 && weekOfDates.length !== 7) {
                for (let i = 0; i < 8 - weekOfDates.length; i++) {
                    weekOfDates.push(" ");
                }
            }
            if (weekOfDates.length !== 7) {
                while (weekOfDates.length < 7) {
                    weekOfDates.push(" ");
                }
            }
            weeks.push(weekOfDates);
        });
        this.weeks = weeks;
    }

    fillDates(currentDate: Date): { start: number, end: number }[] {
        const weeks = [];
        const firstDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
        const lastDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
        const numDays = lastDate.getDate();

        let start = 1;
        let end = 7 - firstDate.getDay();
        if (firstDate.getDay() === 0) {
            end = 1;
        } else {
            end = 7 - firstDate.getDay() + 1;
        }
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }

    monthBefore(): void {
        let month = this.date.getMonth();
        let year = this.date.getFullYear();
        if (month === 1) {
            month = 12;
            year--;
        } else {
            month--;
        }
        this.initializeCalendar(month, year);
    }

    monthAfter(): void {
        let month = this.date.getMonth();
        let year = this.date.getFullYear();
        if (month === 12) {
            month = 1;
            year++;
        } else {
            month++;
        }
        this.initializeCalendar(month, year);
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        this.date = new Date();
        this.initializeCalendar(this.date.getMonth(), this.date.getFullYear());
        store.dispatch("getMeetings");
        store.dispatch("getHolidays");
        store.dispatch("getUsers");
    }
}
</script>
