<template>
  <div class="pm-wrapper">
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
          <router-link v-if="!isAuthenticated" to="/" class="navbar-brand">
            <img src="./assets/PlanMeetLogo.png" class="logo" />
          </router-link>
          <router-link v-if="isAuthenticated" to="/meetings" class="navbar-brand">
            <img src="./assets/PlanMeetLogo.png" class="logo" />
          </router-link>
          <div class="navbar-collapse collapse d-sm-inline-flex pm-nav-center">
            <ul class="navbar-nav">
              <li class="nav-item" v-if="isAuthenticated && isUser()">
                <router-link to="/meetings" class="pm-button"
                  ><font-awesome-icon icon="calendar" /> Kalender</router-link
                >
              </li>
              <li class="nav-item" v-if="isAuthenticated && isUser()">
                <router-link to="/questionnaires" class="pm-button"
                  ><font-awesome-icon icon="bars" /> Küsitlused</router-link
                >
              </li>
              <li class="nav-item">
                <router-link to="/rooms" class="pm-button" v-if="isAuthenticated && isUser()"
                  ><font-awesome-icon icon="university" /> TalTech ruumid</router-link
                >
              </li>
              <li class="nav-item" v-if="isAuthenticated && isAdmin()">
                <router-link to="/users" class="pm-button"
                  ><font-awesome-icon icon="users" /> Kasutajad</router-link
                >
              </li>
              <li class="nav-item" v-if="isAuthenticated && isAdmin()">
                <router-link to="/organizations" class="pm-button"
                  ><font-awesome-icon icon="graduation-cap" /> Organisatsioonid</router-link
                >
              </li>
              <li class="nav-item" v-if="isAuthenticated && isAdmin()">
                <router-link to="/holidays" class="pm-button"
                  ><font-awesome-icon icon="birthday-cake" /> Tähtpäevad</router-link
                >
              </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" v-if="isAuthenticated">
                    <a @click="logoutOnClick" class="nav-link fa-2x identity-nav identity-button"
                    href><font-awesome-icon icon="sign-out-alt" /></a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="pm-container container">
      <main role="main" class="pb-3">
        <router-view />
      </main>
    </div>
    <footer class="pm-footer-container">
        <div>
            <span class="pm-footer">@PLANMEET</span>
        </div>
    </footer>
  </div>
</template>
<script lang="ts">
import { Vue } from "vue-property-decorator";
import store from "./store";

export default class App extends Vue {
    get isAuthenticated(): boolean {
        if (sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "") {
            return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
        } else {
            return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
        }
    }

    isUser(): boolean {
        return sessionStorage.getItem('user') === "true";
    }

    isAdmin(): boolean {
        return sessionStorage.getItem('admin') === "true";
    }

    logoutOnClick(): void {
        store.dispatch("clearSessionStorage");
    }
}
</script>

<style>
@font-face {
  font-family: "Milliard Book";
  src: local("Milliard Book"),
    url(./fonts/Milliard/Rene Bieder  Milliard Book.woff) format("truetype");
}
@font-face {
  font-family: "Milliard Bold";
  src: local("Milliard Bold"),
    url(./fonts/Milliard/Rene Bieder  Milliard Bold.woff) format("truetype");
}
@font-face {
  font-family: "Milliard Medium";
  src: local("Milliard Medium"),
    url(./fonts/Milliard/Rene Bieder  Milliard Medium.woff) format("truetype");
}
@font-face {
  font-family: "Milliard Light";
  src: local("Milliard Light"),
    url(./fonts/Milliard/Rene Bieder  Milliard Light.woff) format("truetype");
}
.navbar-brand {
  font-family: "Milliard Bold";
}
.nav-link {
  color: #aa1352 !important;
}

.identity-nav {
    color: #e4067e;
}

.logo {
  height: 50px;
}
.pm-button {
    margin: 0 5px;
    padding: 7px 15px;
    border: 1px solid #aa1352;
    border-radius: 6px;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    transition: color .2s, border .2s;
    color: #aa1352;
    background-color: #fff;
}
.pm-button:hover {
    color: #4dbed2;
    border: 1px solid #4dbed2;
    background-color: #fff;
    text-decoration: none;
}
.pm-button:disabled {
    color: #9396B0;
    border: 1px solid #9396B0;
    background-color: #fff;
    text-decoration: none;
}
.pm-button-secondary {
    margin: 0 5px;
    padding: 7px 15px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color .2s, border .2s;
    color: #aa1352;
    background-color: #fff;
}
.pm-button-secondary:hover {
    color: #4dbed2;
    background-color: #fff;
    text-decoration: none;
}
.pm-nav-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1 {
    padding-right: 20px;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #aa1352 !important;
    background-color: #aa1352 !important;
}
.table {
    display: table;
    border: 2px solid #dee2e6;
}
.table-row {
    display: table-row;
}
.table-hover:hover {
    background-color: #dadae4;
}
.table-head-cell {
    font-weight: 700;
    color: #aa1352;
}
.table-cell, .table-head-cell {
    display: table-cell;
    padding: .75rem;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #dee2e6;
}

.table-cell:first-child, .table-head-cell:first-child {
    border-left: 1px solid #dee2e6;
}

.table-cell {
    border-top: 1px solid #dee2e6;
}
.badge-info {
    background-color: #aa1352 !important;
    border: 1px solid #aa1352;
}
.pm-wrapper {
    position: relative;
    min-height: 100vh;
}
.pm-container {
    padding-bottom: 100px;
}
.pm-footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #aa1352;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pm-footer {
    color: white;
    padding: 0 20px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding-top: 30px;
}
label {
    font-family: "Milliard Medium";
}
.calendar-cell {
    width: 14%;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}
.calendar-date {
    display: flex;
}
.meeting-btn {
    margin: 2px;
    font-size: 0.6rem !important;
    text-align: left !important;
}
.identity-button:hover {
    color: #4dbed2 !important;
}
.calendar-month-change {
    text-transform: uppercase;
    vertical-align: middle;
    padding: 10px;
    margin: 20px;
    border: 1px solid #aa1352;
    border-radius: 6px;
    color: #aa1352;
    font-family: "Milliard Bold";
}
.calendar-month-name {
    padding-right: 10px;
    padding-left: 10px;
}
.holiday {
    padding-left: 5px;
    padding-right: 5px;
    color:#aa1352;
}
.birthday {
    color:#aa1352;
}
.quest-details-label {
    padding: 10px;
    color: #aa1352;
}
.quest-details {
    padding-right: 20px;
}
.answer-button {
    margin: 0 5px;
    padding: 7px 15px;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    transition: color .2s, border .2s;
    background-color: #fff;
}
.answer-blue-icon {
    color: #4dbed2;
}
.answer-red-icon {
    color: #aa1352;
}
.answer-grey-icon {
    color: #9396B0;
}
.switch-left-label {
    padding-right: 10px;
}
.btn-right-form {
    margin-left: 10px;
    width: 100px;
}
.or {
    margin-left: 10px;
}
.datetime {
    width: fit-content;
}
.calendar-filter {
    padding-left: 10px;
}

.calendar-filter .btn-secondary {
    padding-left: 10px;
    background-color: #fff;
    border-color: #aa1352;
    color: #aa1352;
}

.calendar-filter .btn-secondary:hover{
    padding-left: 10px;
    background-color: #fff;
    border-color: #4dbed2;
    color: #4dbed2;
}

.calendar-filter .dropdown-menu {
    padding: 10px;
}

.login-error {
    color: #aa1352;
}

.users-button {
    margin: 5px;
}

.title-with-icon {
    padding-left: 10px;
}

.times-info {
    border: 1px solid #aa1352;
    color: #aa1352;
    border-radius: 6px;
    margin: 0 5px;
    padding: 7px 15px;
    box-shadow: none;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    transition: color .2s, border .2s;
    background-color: #fff;
}

.table-head-cell-corner {
    display: table-cell;
    padding: .75rem;
    vertical-align: bottom;
    text-align: center;
    border-right: 1px solid #dee2e6;
}
.table-head-corner-button {
    width: fit-content;
}
</style>
