<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Küsitlus - {{questionnaire.meeting.name}}</h1>
            <div class="pm-button" @click="navigateToMeetingDetailsWhenClicked()"
            >Vaata kohtumist</div>
        </div>
        <div class="flex-center">
            <div class="quest-details-label">
                Tähtaeg:
            </div>
            <div class="quest-details">
                {{questionnaire.deadline}}
            </div>
            <div v-if="organizer" class="quest-details-label">
                Korraldaja:
            </div>
            <div v-if="organizer" class="quest-details">
                {{organizer.user.username}}
            </div>
        </div>
        <div class="flex-center">
            <div class="quest-details-label answer-blue-icon">
                <font-awesome-icon icon="check" />
            </div>
            <div class="quest-details">
                {{answerOptions[0].name}}
            </div>
            <div class="quest-details-label answer-red-icon">
                <font-awesome-icon icon="times" />
            </div>
            <div class="quest-details">
                {{answerOptions[1].name}}
            </div>
            <div class="quest-details-label answer-grey-icon">
                <font-awesome-icon icon="question" />
            </div>
            <div class="quest-details">
                {{answerOptions[2].name}}
            </div>
        </div>
        <tbody class="flex-center">
            <div class="table">
                <div class="table-row">
                    <div class="table-head-cell-corner">
                        <button v-b-modal="'modal-final'" class="pm-button table-head-corner-button">
                            Vali lõplik aeg</button>
                        <b-modal
                            :id="'modal-final'"
                            title="Vali lõplik aeg"
                            ok-title="Jah, vali"
                            cancel-title="Ei"
                            @ok="chooseFinalTime()">
                            <div v-if="finalTime">
                                Kas oled kindel, et soovid kohtumise <b>{{questionnaire.meeting.name}}</b> lõplikuks ajaks määrata
                                aja <b>{{new Date(finalTime.startTime).toLocaleDateString()}}
                                    {{new Date(finalTime.startTime).toLocaleString([], {timeStyle: 'short'})}} -
                                    {{new Date(finalTime.endTime).toLocaleString([], {timeStyle: 'short'})}}</b> ja küsitluse kustutada?
                            </div>
                         </b-modal>
                    </div>
                    <div class="table-head-cell" v-for="time in meetingTimes" :key="time.id">
                        <div>
                            {{new Date(time.startTime).toLocaleString([], {weekday: 'short'})}}
                            {{new Date(time.startTime).toLocaleString([], {day: '2-digit'})}}.
                            {{new Date(time.startTime).toLocaleString([], {month: 'short'})}}
                        </div>
                        <div>
                            {{new Date(time.startTime).toLocaleString([], {timeStyle: 'short'})}}
                        </div>
                        <div v-if="new Date(time.startTime).toLocaleString([], {dateStyle: 'short'}) !=
                            new Date(time.endTime).toLocaleString([], {dateStyle: 'short'})">
                            {{new Date(time.startTime).toLocaleString([], {weekday: 'short'})}}
                            {{new Date(time.startTime).toLocaleString([], {day: '2-digit'})}}.
                            {{new Date(time.startTime).toLocaleString([], {month: 'short'})}}
                        </div>
                        <div>
                            {{new Date(time.endTime).toLocaleString([], {timeStyle: 'short'})}}
                        </div>
                        <br>
                        <input type="radio" :value="time" v-model="finalTime" class="answer-button table-hover">
                        <label>Vali</label>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">{{member.user.firstName}}</div>
                    <div class="table-cell" v-for="time in meetingTimes" :key="time.id">
                        <button :id="time.id + 'empty'" class="answer-button answer-grey-icon table-hover" @click="answerChanged(time, $event)">
                            <font-awesome-icon icon="pencil-alt" />
                        </button>
                        <button :id="time.id + 'check'" hidden class="answer-button answer-blue-icon table-hover" @click="answerChanged(time, $event)">
                            <font-awesome-icon icon="check" />
                        </button>
                        <button :id="time.id + 'times'" hidden class="answer-button answer-red-icon table-hover" @click="answerChanged(time, $event)">
                            <font-awesome-icon icon="times" />
                        </button>
                        <button :id="time.id + 'question'" hidden class="answer-button answer-grey-icon table-hover" @click="answerChanged(time, $event)">
                            <font-awesome-icon icon="question" />
                        </button>
                    </div>
                </div>
                    <div class="table-row" v-for="meetingMember in meetingMembersAnswers" :key="meetingMember.id">
                    <div class="table-cell" v-if="meetingMembersAnswers.length !== 0">{{meetingMember[0].meetingMember.user.firstName}}</div>
                    <div class="table-cell" v-for="answer in meetingMember" :key="answer.id">
                        <div :id="answer.meetingTime.id + 'check'" v-if="answer.answer.id === answerOptions[0].id"
                            class="answer-blue-icon">
                            <font-awesome-icon icon="check" />
                        </div>
                        <div :id="answer.meetingTime.id + 'times'" v-if="answer.answer.id === answerOptions[1].id"
                            class="answer-red-icon">
                            <font-awesome-icon icon="times" />
                        </div>
                        <div :id="answer.meetingTime.id + 'question'" v-if="answer.answer.id === answerOptions[2].id"
                            class="answer-grey-icon">
                            <font-awesome-icon icon="question" />
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
        <div class="flex-center">
            <button :disabled="!answersValidated" @click="saveOnClick()" class="btn btn-primary">Salvesta</button>
        </div>
    </div>
</template>

<script lang="ts">
import { IAnswer } from "@/domain/IAnswer";
import { IMeetingMember } from "@/domain/IMeetingMember";
import { IMeetingTime } from "@/domain/IMeetingTime";
import { IMemberAnswer, IMemberAnswerCreate } from "@/domain/IMemberAnswer";
import { IQuestionnaire } from "@/domain/IQuestionnaire";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class QuestionnaireDetails extends Vue {
    @Prop()
    private id!: string;

    private memberAnswers: IMemberAnswerCreate[] = [];
    private meetingMembersAnswers: IMemberAnswer[][] = [];
    private organizer: IMeetingMember | null = null;
    private editAnswers = false;

    private finalTime: IMeetingTime | null = null;

    private answersValidated = false;

    get questionnaire(): IQuestionnaire | null {
        return store.state.questionnaire;
    }

    get member(): IMeetingMember | null {
        return store.state.meetingMember;
    }

    get meetingTimes(): IMeetingTime[] {
        return store.state.meetingTimes;
    }

    get meetingMembers(): IMeetingMember[] {
        return store.state.meetingMembers;
    }

    get answerOptions(): IAnswer[] {
        return store.state.answers;
    }

    initAnswersInEdit(answers: IMemberAnswer[]): void {
        this.answersValidated = true;
        this.meetingTimes.forEach((meetingTime) => {
            answers.forEach(answer => {
                if (answer.meetingTime && answer.meetingTime.id === meetingTime.id) {
                    const element = document.getElementById(meetingTime.id.toString() + "empty");
                    if (element) element.hidden = true;
                    this.memberAnswers.push({
                        meetingMember: answer.meetingMember,
                        meetingTime: answer.meetingTime,
                        answer: answer.answer
                    })
                    if (answer.answer && answer.answer.id === this.answerOptions[0].id) {
                        const element = document.getElementById(meetingTime.id.toString() + "check");
                        if (element) element.hidden = false;
                    } else if (answer.answer && answer.answer.id === this.answerOptions[1].id) {
                        const element = document.getElementById(meetingTime.id.toString() + "times");
                        if (element) element.hidden = false;
                    } else if (answer.answer && answer.answer.id === this.answerOptions[2].id) {
                        const element = document.getElementById(meetingTime.id.toString() + "question");
                        if (element) element.hidden = false;
                    }
                }
            });
        })
    }

    getMeetingMembersAnswers(): void {
        store.state.meetingMembers.forEach(meetingMember => {
            if (meetingMember.user && meetingMember.user.id.toString() !== sessionStorage.getItem('id')) {
                store.dispatch("getMemberAnswersByMeetingMember", meetingMember.id).then(() => {
                    if (store.state.memberAnswers.length !== 0) {
                        this.meetingMembersAnswers.push(store.state.memberAnswers);
                    }
                });
            }
        });
    }

    getStatus(): void {
        if (this.questionnaire) {
            store.dispatch("getMemberAnswersByMeetingAndUser", this.questionnaire.meeting?.id).then(() => {
                if (store.state.memberAnswers.length !== 0) {
                    this.editAnswers = true;
                    this.initAnswersInEdit(store.state.memberAnswers);
                } else {
                    this.editAnswers = false;
                }
            });
        }
    }

    saveOnClick(): void {
        this.memberAnswers.forEach(memberAnswer => {
            store.dispatch("createMemberAnswer", memberAnswer);
        });
    }

    chooseFinalTime(): void {
        if (this.questionnaire && this.questionnaire.meeting && this.finalTime) {
            const meeting = this.questionnaire.meeting;
            meeting.startTime = this.finalTime.startTime;
            meeting.endTime = this.finalTime.endTime;
            store.dispatch("updateMeeting", meeting).then(() => {
                store.dispatch('deleteQuestionnaire', this.questionnaire?.id);
                this.navigateToMeetingDetailsWhenClicked();
            });
        }
    }

    answerChanged(time: IMeetingTime): void {
        let exists = false;
        this.memberAnswers.forEach(memberAnswer => {
            if (memberAnswer.meetingTime && memberAnswer.meetingTime.id === time.id) {
                exists = true;
                if (memberAnswer.answer && memberAnswer.answer.id === this.answerOptions[0].id) {
                    memberAnswer.answer = this.answerOptions[1];
                    const element = document.getElementById(time.id.toString() + "check");
                    if (element) element.hidden = true;
                    const elementBefore = document.getElementById(time.id.toString() + "times");
                    if (elementBefore) elementBefore.hidden = false;
                } else if (memberAnswer.answer && memberAnswer.answer.id === this.answerOptions[1].id) {
                    memberAnswer.answer = this.answerOptions[2];
                    const element = document.getElementById(time.id.toString() + "times");
                    if (element) element.hidden = true;
                    const elementBefore = document.getElementById(time.id.toString() + "question");
                    if (elementBefore) elementBefore.hidden = false;
                } else if (memberAnswer.answer && memberAnswer.answer.id === this.answerOptions[2].id) {
                    memberAnswer.answer = this.answerOptions[0];
                    const element = document.getElementById(time.id.toString() + "question");
                    if (element) element.hidden = true;
                    const elementBefore = document.getElementById(time.id.toString() + "check");
                    if (elementBefore) elementBefore.hidden = false;
                }
            }
        });
        if (!exists) {
            this.memberAnswers.push({
                meetingMember: this.member,
                meetingTime: time,
                answer: this.answerOptions[0]
            })
            if (this.memberAnswers.length === this.meetingTimes.length) this.answersValidated = true;
            const element = document.getElementById(time.id.toString() + "empty");
            if (element) element.hidden = true;
            const elementBefore = document.getElementById(time.id.toString() + "check");
            if (elementBefore) elementBefore.hidden = false;
        }
    }

    navigateToMeetingDetailsWhenClicked(): void {
        if (this.questionnaire?.meeting) {
            router.push({
                name: "MeetingDetails",
                params: {
                    id: this.questionnaire.meeting.id.toString()
                }
            });
        }
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    beforeMount(): void {
        store.dispatch("getQuestionnaire", this.id).then(() => {
            store.dispatch("getMeetingMembersByMeeting", store.state.questionnaire?.meeting?.id).then(() => {
                this.getStatus();
                this.getMeetingMembersAnswers();
            });
            store.dispatch("getMeetingMemberByMeetingAndUser", store.state.questionnaire?.meeting?.id);
        });
        store.dispatch("getAnswersByQuestionnaire", this.id);
        store.dispatch("getMeetingTimesByQuestionnaire", this.id);
        this.meetingMembers.forEach((member) => {
            if (member.organizer) {
                this.organizer = member;
            }
        })
    }
}
</script>
