<template>
    <div>
        <div class="flex-center">
            <button @click="goBackOnClick()" class="pm-button-secondary fa-2x" href><font-awesome-icon icon="arrow-left" /></button>
            <h1>Muuda küsitlust</h1>
        </div>
        <validation-observer v-slot="{ invalid }">
            <b-form>
                <validation-provider v-slot="{ errors, valid }" name="Tähtaeg" rules="required">
                    <b-form-group label="Tähtaeg:">
                        <b-form-datepicker
                            :state="errors[0] ? false : (valid ? true : null)"
                            v-model="questionnaire.deadline"
                            required
                            placeholder="Vali kuupäev"
                            :start-weekday="1"
                        ></b-form-datepicker>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Vastusevariandid - check" rules="required">
                    <b-form-group label="Vastusevariandid:">
                        <div class="flex-center">
                            <div class="answer-blue-icon quest-details-label">
                                <font-awesome-icon icon="check" />
                            </div>
                            <b-form-input
                                :state="errors[0] ? false : (valid ? true : null)"
                                v-model="answerOptions[0]"
                                placeholder="Sisesta esimene vastusevariant"
                                required
                                type="text"
                            ></b-form-input>
                        </div>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Vastusevariandid - times" rules="required">
                    <b-form-group>
                        <div class="flex-center">
                            <div class="answer-red-icon quest-details-label">
                                <font-awesome-icon icon="times" />
                            </div>
                            <b-form-input
                                :state="errors[0] ? false : (valid ? true : null)"
                                v-model="answerOptions[1]"
                                placeholder="Sisesta teine vastusevariant"
                                required
                                type="text"
                            ></b-form-input>
                        </div>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <validation-provider v-slot="{ errors, valid }" name="Vastusevariandid - question" rules="required">
                    <b-form-group>
                        <div class="flex-center">
                            <div class="answer-grey-icon quest-details-label">
                                <font-awesome-icon icon="question" />
                            </div>
                            <b-form-input
                                :state="errors[0] ? false : (valid ? true : null)"
                                v-model="answerOptions[2]"
                                placeholder="Sisesta kolmas vastusevariant"
                                required
                                type="text"
                            ></b-form-input>
                        </div>
                        <b-form-invalid-feedback :state="valid">
                            <span v-for="(error, index) in errors" :key="index">{{ error }}</span>
                        </b-form-invalid-feedback>
                    </b-form-group>
                </validation-provider>
                <b-form-group label="Võimalikud ajad:">
                    <b-form-tags
                        placeholder=""
                        input-id="Organizations" v-model="chosenTimes">
                        <template v-slot="{ tags, disabled, removeTag }">
                            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                <b-form-tag
                                    @remove="removeTag(tag)"
                                    :title="tag"
                                    :disabled="disabled"
                                    variant="info"
                                >{{ tag }}</b-form-tag>
                                </li>
                            </ul>
                            <div class="form-group">
                                <label for="Date">Kuupäev:</label>
                                <b-form-datepicker
                                    v-model="date"
                                    class="form-control"
                                    id="Date"
                                    placeholder="Vali kuupäev:"
                                    :start-weekday="1"
                                ></b-form-datepicker>
                            </div>
                            <div class="form-group">
                                <label for="Date">Alguse aeg:</label>
                                <b-form-timepicker
                                    v-model="startTime"
                                    placeholder="Vali kellaaeg:"
                                    class="form-control">
                                </b-form-timepicker>
                            </div>
                            <div class="form-group">
                                <label for="Date">Lõpu aeg:</label>
                                <b-form-timepicker
                                    v-model="endTime"
                                    placeholder="Vali kellaaeg:"
                                    class="form-control">
                                </b-form-timepicker>
                                <br/>
                                <button type="button" @click="addDateTime()" class="pm-button">
                                    Lisa aeg
                                </button>
                            </div>
                        </template>
                    </b-form-tags>
                </b-form-group>
                <b-form-group>
                    <button :disabled="invalid" @click="saveOnClick()" class="btn btn-primary">
                        Salvesta
                    </button>
                </b-form-group>
            </b-form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
import { IMeeting } from "@/domain/IMeeting";
import { IQuestionnaire } from "@/domain/IQuestionnaire";
import router from "@/router";
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class QuestionnaireEdit extends Vue {
    @Prop()
    private id!: string;

    private date = "";
    private startTime = "";
    private endTime = "";

    private chosenTimes: string[] = [];
    private answerOptions: string[] = [];

    get questionnaire(): IQuestionnaire | null {
        return store.state.questionnaire;
    }

    getChosenTimes(): void {
        store.state.meetingTimes.forEach(time => {
            if (time.startTime && time.endTime) {
                const startDateTime = new Date(time.startTime).toLocaleString();
                const endDateTime = new Date(time.endTime).toLocaleString();
                this.chosenTimes.push(startDateTime.slice(0, -3) + ' -> ' + endDateTime.slice(0, -3));
            }
        });
    }

    getAnswerOptions(): void {
        store.state.answers.forEach(answer => {
            this.answerOptions.push(answer.name);
        });
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    saveOnClick(): void {
        store.dispatch("updateQuestionnaire", this.questionnaire).then(() => {
            this.chosenTimes.forEach(time => {
                const times = time.split(' -> ');
                store.dispatch("createMeetingTime", {
                    startTime: new Date(times[0]),
                    endTime: new Date(times[1]),
                    questionnaire: this.questionnaire
                });
            });
            this.answerOptions.forEach(answer => {
                store.dispatch("createAnswer", {
                    name: answer,
                    questionnaire: this.questionnaire
                });
            });
        });
    }

    addDateTime(): void {
        this.chosenTimes.push(this.date + ' ' + this.startTime.slice(0, -3) + ' -> ' +
            this.date + ' ' + this.endTime.slice(0, -3));
    }

    get meetings(): IMeeting[] {
        return store.state.meetings;
    }

    goBackOnClick(): void {
        router.back();
    }

    // ============ Lifecycle methods ==========

    beforeMount(): void {
        store.dispatch("getQuestionnaire", this.id);
        store.dispatch("getMeetings");
        store.dispatch("getAnswersByQuestionnaire", this.id);
        this.getAnswerOptions();
        store.dispatch("getMeetingTimesByQuestionnaire", this.id);
        this.getChosenTimes();
    }
}
</script>
