<template>
    <div>
        <div class="row flex-center">
            <h1>Küsitlused</h1>
            <button
                class="btn btn-primary btn-add-new"
                @click="navigateToCreateWhenClicked()"
            >+ Lisa uus küsitlus</button>
        </div>
        <tbody class="flex-center">
            <div class="table">
                <div class="table-row">
                    <div class="table-head-cell">Kohtumine</div>
                    <div class="table-head-cell">Tähtaeg</div>
                    <div class="table-head-cell">Korraldaja</div>
                    <div class="table-head-cell">Staatus</div>
                    <div class="table-head-cell"></div>
                </div>
                <div class="table-row table-hover" v-for="questionnaire in questionnaires" :key="questionnaire.id">
                    <div class="table-cell">{{questionnaire.meeting.name}}</div>
                    <div class="table-cell" >{{questionnaire.deadline}}</div>
                    <div class="table-cell" :id="questionnaire.id + 'organizer'">Korraldaja</div>
                    <div class="table-cell" :id="questionnaire.id + 'check'"><font-awesome-icon icon="check" /></div>
                    <div class="table-cell" :id="questionnaire.id + 'times'"><font-awesome-icon icon="times" /></div>
                    <div class="table-cell flex-center">
                        <div class="pm-button" @click="navigateToDetailsWhenClicked(questionnaire)"
                        ><font-awesome-icon icon="play" /></div>
                        <div class="pm-button" @click="navigateToEditWhenClicked(questionnaire)"
                        ><font-awesome-icon icon="pencil-alt" /></div>
                        <div class="pm-button" v-b-modal="'modal-delete'"><font-awesome-icon icon="trash-alt" /></div>
                        <b-modal
                            :id="'modal-delete'"
                            title="Kustuta"
                            ok-title="Jah, kustuta"
                            cancel-title="Ei"
                            @ok="deleteWhenClicked(questionnaire.id)">
                            <div>
                                Kas oled kindel, et soovid kohtumise {{questionnaire.meeting.name}} küsitluse kustutada?
                            </div>
                         </b-modal>
                    </div>
                </div>
            </div>
        </tbody>
    </div>
</template>

<script lang="ts">
import { IQuestionnaire } from "@/domain/IQuestionnaire";
import router from "@/router";
import { Component, Vue } from "vue-property-decorator";
import store from "../../../store";

@Component
export default class QuestionnairesIndex extends Vue {
    get questionnaires(): IQuestionnaire[] {
        return store.state.questionnaires;
    }

    getStatuses(): void {
        this.questionnaires.forEach(questionnaire => {
            store.dispatch("getMemberAnswersByMeetingAndUser", questionnaire.meeting?.id).then(() => {
                if (store.state.memberAnswers.length !== 0) {
                    const check = document.getElementById(questionnaire.id.toString() + "check");
                    if (check) check.hidden = false;
                    const times = document.getElementById(questionnaire.id.toString() + "times");
                    if (times) times.hidden = true;
                } else {
                    const check = document.getElementById(questionnaire.id.toString() + "check");
                    if (check) check.hidden = true;
                    const times = document.getElementById(questionnaire.id.toString() + "times");
                    if (times) times.hidden = false;
                }
            })
        });
    }

    getOrganizers(): void {
        this.questionnaires.forEach(questionnaire => {
            store.dispatch("getMeetingMembersByMeeting", questionnaire.meeting?.id).then(() => {
                store.state.meetingMembers.forEach((member) => {
                    if (member.organizer) {
                        const organizer = document.getElementById(questionnaire.id.toString() + "organizer");
                        if (organizer && member.user) organizer.innerHTML = member.user.username;
                    }
                })
            });
        });
    }

    navigateToDetailsWhenClicked(questionnaire: IQuestionnaire): void {
        router.push({
            name: "QuestionnaireDetails",
            params: {
                id: questionnaire.id.toString()
            }
        });
    }

    navigateToEditWhenClicked(questionnaire: IQuestionnaire): void {
        router.push({
            name: "QuestionnaireEdit",
            params: {
                id: questionnaire.id.toString()
            }
        });
    }

    navigateToCreateWhenClicked(): void {
        router.push({
            name: "QuestionnaireCreate"
        });
    }

    deleteWhenClicked(id: string): void {
        store.dispatch('deleteQuestionnaire', id);
        history.go();
    }

    get isAuthenticated(): boolean {
        return sessionStorage.getItem('token') !== null && sessionStorage.getItem('token') !== "";
    }

    // ============ Lifecycle methods ==========

    mounted(): void {
        store.dispatch("getQuestionnaires").then(() => {
            this.getStatuses();
            this.getOrganizers();
        });
    }
}
</script>
